/* @media only screen and (max-width: 1068px) {
  .section-stations {
    padding-bottom: 30px;
  }
} */

/* @media only screen and (max-width: 1068px) {
  .section-content {
    margin-left: auto;
    margin-right: auto;
    width: 692px; off
  }
} */

/* @media only screen and (max-width: 1068px) {
  .stations-gallery-wrapper .tabnav-items {
    padding-left: calc((100% - 692px) / 2 - 34px);
  }
} */

/* @media only screen and (max-width: 1068px) {
  .stations-gallery-wrapper .tabnav-item {
    padding-left: 34.5px;
  }
} off */

/* @media only screen and (max-width: 1068px) {
  .stations-gallery {
    height: 206px;
  }
} */

/* @media only screen and (max-width: 1068px) {
  .music-slider-container {
    height: 206px;
  }
} */

/* @media only screen and (max-width: 1068px) {
  .music-slider {
    margin-left: auto;
    margin-right: auto;
    width: 692px;
  }
} */

/* @media only screen and (max-width: 1068px) {
  .music-slide {
    width: 158px;
    margin-right: 20px;
  }
} */
