/* (SVG) PARAMS ================= @mixin svgGlitch($name, $intensity, $fillColor, $background, $width, $height, $top, $left) ================= 1. Namespace 2. Intensity 3. Fill Color 4. Background 5. Width (px) 6. Height (px) 5. Top (px, abs pos) 6. Left (px, abs pos) */
.triangle__green {
  position: relative;
  top: -200px;
}

@keyframes triangle__green-anim-1 {
  0% {
    clip: rect(-7px, 100px, 70px, 0);
  }
  3.3333333333% {
    clip: rect(-19px, 100px, 48px, 0);
  }
  6.6666666667% {
    clip: rect(6px, 100px, 36px, 0);
  }
  10% {
    clip: rect(-17px, 100px, 90px, 0);
  }
  13.3333333333% {
    clip: rect(27px, 100px, 37px, 0);
  }
  16.6666666667% {
    clip: rect(27px, 100px, 77px, 0);
  }
  20% {
    clip: rect(3px, 100px, 92px, 0);
  }
  23.3333333333% {
    clip: rect(54px, 100px, 88px, 0);
  }
  26.6666666667% {
    clip: rect(10px, 100px, 73px, 0);
  }
  30% {
    clip: rect(-18px, 100px, 42px, 0);
  }
  33.3333333333% {
    clip: rect(-17px, 100px, 24px, 0);
  }
  36.6666666667% {
    clip: rect(-17px, 100px, 105px, 0);
  }
  40% {
    clip: rect(53px, 100px, 113px, 0);
  }
  43.3333333333% {
    clip: rect(65px, 100px, 75px, 0);
  }
  46.6666666667% {
    clip: rect(42px, 100px, 111px, 0);
  }
  50% {
    clip: rect(-7px, 100px, 107px, 0);
  }
  53.3333333333% {
    clip: rect(29px, 100px, 35px, 0);
  }
  56.6666666667% {
    clip: rect(59px, 100px, 118px, 0);
  }
  60% {
    clip: rect(18px, 100px, 80px, 0);
  }
  63.3333333333% {
    clip: rect(40px, 100px, 44px, 0);
  }
  66.6666666667% {
    clip: rect(25px, 100px, 59px, 0);
  }
  70% {
    clip: rect(66px, 100px, 104px, 0);
  }
  73.3333333333% {
    clip: rect(37px, 100px, 60px, 0);
  }
  76.6666666667% {
    clip: rect(58px, 100px, 29px, 0);
  }
  80% {
    clip: rect(37px, 100px, 92px, 0);
  }
  83.3333333333% {
    clip: rect(74px, 100px, 64px, 0);
  }
  86.6666666667% {
    clip: rect(31px, 100px, 42px, 0);
  }
  90% {
    clip: rect(36px, 100px, 86px, 0);
  }
  93.3333333333% {
    clip: rect(34px, 100px, 95px, 0);
  }
  96.6666666667% {
    clip: rect(46px, 100px, 44px, 0);
  }
  100% {
    clip: rect(-8px, 100px, 25px, 0);
  }
}

@keyframes triangle__green-anim-2 {
  0% {
    clip: rect(60px, 100px, 79px, 0);
  }
  3.3333333333% {
    clip: rect(16px, 100px, 109px, 0);
  }
  6.6666666667% {
    clip: rect(56px, 100px, 79px, 0);
  }
  10% {
    clip: rect(24px, 100px, 105px, 0);
  }
  13.3333333333% {
    clip: rect(-6px, 100px, 72px, 0);
  }
  16.6666666667% {
    clip: rect(3px, 100px, 36px, 0);
  }
  20% {
    clip: rect(17px, 100px, 55px, 0);
  }
  23.3333333333% {
    clip: rect(21px, 100px, 57px, 0);
  }
  26.6666666667% {
    clip: rect(44px, 100px, 117px, 0);
  }
  30% {
    clip: rect(8px, 100px, 87px, 0);
  }
  33.3333333333% {
    clip: rect(-4px, 100px, 56px, 0);
  }
  36.6666666667% {
    clip: rect(45px, 100px, 58px, 0);
  }
  40% {
    clip: rect(29px, 100px, 63px, 0);
  }
  43.3333333333% {
    clip: rect(73px, 100px, 25px, 0);
  }
  46.6666666667% {
    clip: rect(7px, 100px, 51px, 0);
  }
  50% {
    clip: rect(78px, 100px, 86px, 0);
  }
  53.3333333333% {
    clip: rect(-11px, 100px, 89px, 0);
  }
  56.6666666667% {
    clip: rect(-5px, 100px, 22px, 0);
  }
  60% {
    clip: rect(56px, 100px, 75px, 0);
  }
  63.3333333333% {
    clip: rect(32px, 100px, 40px, 0);
  }
  66.6666666667% {
    clip: rect(76px, 100px, 99px, 0);
  }
  70% {
    clip: rect(68px, 100px, 76px, 0);
  }
  73.3333333333% {
    clip: rect(-11px, 100px, 40px, 0);
  }
  76.6666666667% {
    clip: rect(61px, 100px, 85px, 0);
  }
  80% {
    clip: rect(19px, 100px, 28px, 0);
  }
  83.3333333333% {
    clip: rect(61px, 100px, 110px, 0);
  }
  86.6666666667% {
    clip: rect(11px, 100px, 115px, 0);
  }
  90% {
    clip: rect(-14px, 100px, 27px, 0);
  }
  93.3333333333% {
    clip: rect(32px, 100px, 118px, 0);
  }
  96.6666666667% {
    clip: rect(21px, 100px, 89px, 0);
  }
  100% {
    clip: rect(18px, 100px, 33px, 0);
  }
}

.triangle__green svg {
  position: absolute;
  top: 200px;
  left: 175px;
  stroke: #319897;
  background: black;
  width: 100px;
  height: 100px;
  transform: scale(0.8);
}

.triangle__green svg:nth-child(2),
.triangle__green svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}

.triangle__green svg:nth-child(2) {
  stroke: #257171;
  left: 173px;
  animation: triangle__green-anim-1 2s infinite linear alternate-reverse;
}

.triangle__green svg:nth-child(3) {
  stroke: rgba(49, 152, 151, 0.7);
  left: 177px;
  animation: triangle__green-anim-2 3s infinite linear alternate-reverse;
}

.triangle__blue {
  position: relative;
  top: -120px;
}

@keyframes triangle__blue-anim-1 {
  0% {
    clip: rect(1px, 100px, 62px, 0);
  }
  2.5% {
    clip: rect(-16px, 100px, 47px, 0);
  }
  5% {
    clip: rect(62px, 100px, 104px, 0);
  }
  7.5% {
    clip: rect(-11px, 100px, 66px, 0);
  }
  10% {
    clip: rect(6px, 100px, 107px, 0);
  }
  12.5% {
    clip: rect(-11px, 100px, 85px, 0);
  }
  15% {
    clip: rect(-12px, 100px, 120px, 0);
  }
  17.5% {
    clip: rect(23px, 100px, 35px, 0);
  }
  20% {
    clip: rect(49px, 100px, 78px, 0);
  }
  22.5% {
    clip: rect(-18px, 100px, 95px, 0);
  }
  25% {
    clip: rect(-1px, 100px, 32px, 0);
  }
  27.5% {
    clip: rect(41px, 100px, 107px, 0);
  }
  30% {
    clip: rect(51px, 100px, 64px, 0);
  }
  32.5% {
    clip: rect(3px, 100px, 80px, 0);
  }
  35% {
    clip: rect(2px, 100px, 32px, 0);
  }
  37.5% {
    clip: rect(23px, 100px, 70px, 0);
  }
  40% {
    clip: rect(68px, 100px, 105px, 0);
  }
  42.5% {
    clip: rect(75px, 100px, 52px, 0);
  }
  45% {
    clip: rect(47px, 100px, 56px, 0);
  }
  47.5% {
    clip: rect(-10px, 100px, 25px, 0);
  }
  50% {
    clip: rect(78px, 100px, 112px, 0);
  }
  52.5% {
    clip: rect(-16px, 100px, 57px, 0);
  }
  55% {
    clip: rect(44px, 100px, 30px, 0);
  }
  57.5% {
    clip: rect(33px, 100px, 120px, 0);
  }
  60% {
    clip: rect(53px, 100px, 72px, 0);
  }
  62.5% {
    clip: rect(45px, 100px, 78px, 0);
  }
  65% {
    clip: rect(31px, 100px, 68px, 0);
  }
  67.5% {
    clip: rect(50px, 100px, 52px, 0);
  }
  70% {
    clip: rect(78px, 100px, 103px, 0);
  }
  72.5% {
    clip: rect(22px, 100px, 120px, 0);
  }
  75% {
    clip: rect(17px, 100px, 97px, 0);
  }
  77.5% {
    clip: rect(-19px, 100px, 54px, 0);
  }
  80% {
    clip: rect(58px, 100px, 58px, 0);
  }
  82.5% {
    clip: rect(25px, 100px, 44px, 0);
  }
  85% {
    clip: rect(-11px, 100px, 46px, 0);
  }
  87.5% {
    clip: rect(-1px, 100px, 103px, 0);
  }
  90% {
    clip: rect(-7px, 100px, 99px, 0);
  }
  92.5% {
    clip: rect(14px, 100px, 44px, 0);
  }
  95% {
    clip: rect(13px, 100px, 72px, 0);
  }
  97.5% {
    clip: rect(66px, 100px, 101px, 0);
  }
  100% {
    clip: rect(72px, 100px, 53px, 0);
  }
}

@keyframes triangle__blue-anim-2 {
  0% {
    clip: rect(51px, 100px, 46px, 0);
  }
  2.5% {
    clip: rect(44px, 100px, 82px, 0);
  }
  5% {
    clip: rect(11px, 100px, 104px, 0);
  }
  7.5% {
    clip: rect(25px, 100px, 56px, 0);
  }
  10% {
    clip: rect(30px, 100px, 79px, 0);
  }
  12.5% {
    clip: rect(-3px, 100px, 75px, 0);
  }
  15% {
    clip: rect(38px, 100px, 42px, 0);
  }
  17.5% {
    clip: rect(24px, 100px, 40px, 0);
  }
  20% {
    clip: rect(36px, 100px, 90px, 0);
  }
  22.5% {
    clip: rect(2px, 100px, 104px, 0);
  }
  25% {
    clip: rect(61px, 100px, 53px, 0);
  }
  27.5% {
    clip: rect(75px, 100px, 77px, 0);
  }
  30% {
    clip: rect(38px, 100px, 94px, 0);
  }
  32.5% {
    clip: rect(10px, 100px, 65px, 0);
  }
  35% {
    clip: rect(33px, 100px, 110px, 0);
  }
  37.5% {
    clip: rect(-10px, 100px, 35px, 0);
  }
  40% {
    clip: rect(-1px, 100px, 48px, 0);
  }
  42.5% {
    clip: rect(19px, 100px, 31px, 0);
  }
  45% {
    clip: rect(13px, 100px, 36px, 0);
  }
  47.5% {
    clip: rect(55px, 100px, 87px, 0);
  }
  50% {
    clip: rect(42px, 100px, 105px, 0);
  }
  52.5% {
    clip: rect(57px, 100px, 96px, 0);
  }
  55% {
    clip: rect(2px, 100px, 43px, 0);
  }
  57.5% {
    clip: rect(38px, 100px, 45px, 0);
  }
  60% {
    clip: rect(15px, 100px, 94px, 0);
  }
  62.5% {
    clip: rect(67px, 100px, 29px, 0);
  }
  65% {
    clip: rect(76px, 100px, 45px, 0);
  }
  67.5% {
    clip: rect(19px, 100px, 107px, 0);
  }
  70% {
    clip: rect(7px, 100px, 27px, 0);
  }
  72.5% {
    clip: rect(77px, 100px, 71px, 0);
  }
  75% {
    clip: rect(23px, 100px, 56px, 0);
  }
  77.5% {
    clip: rect(-3px, 100px, 114px, 0);
  }
  80% {
    clip: rect(26px, 100px, 45px, 0);
  }
  82.5% {
    clip: rect(76px, 100px, 38px, 0);
  }
  85% {
    clip: rect(63px, 100px, 93px, 0);
  }
  87.5% {
    clip: rect(34px, 100px, 32px, 0);
  }
  90% {
    clip: rect(-19px, 100px, 76px, 0);
  }
  92.5% {
    clip: rect(-14px, 100px, 95px, 0);
  }
  95% {
    clip: rect(48px, 100px, 60px, 0);
  }
  97.5% {
    clip: rect(30px, 100px, 104px, 0);
  }
  100% {
    clip: rect(-5px, 100px, 61px, 0);
  }
}

.triangle__blue svg {
  position: absolute;
  top: 200px;
  left: 175px;
  stroke: #3c5e8c;
  background: black;
  width: 100px;
  height: 100px;
  transform: scale(0.8);
}

.triangle__blue svg:nth-child(2),
.triangle__blue svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}

.triangle__blue svg:nth-child(2) {
  stroke: #2d4668;
  left: 173px;
  animation: triangle__blue-anim-1 2s infinite linear alternate-reverse;
}

.triangle__blue svg:nth-child(3) {
  stroke: #4b76b0;
  left: 177px;
  animation: triangle__blue-anim-2 3s infinite linear alternate-reverse;
}

.triangle__gray {
  position: relative;
  top: -40px;
}

@keyframes triangle__blue-anim-1 {
  0% {
    clip: rect(39px, 100px, 117px, 0);
  }
  2.5% {
    clip: rect(-16px, 100px, 38px, 0);
  }
  5% {
    clip: rect(38px, 100px, 64px, 0);
  }
  7.5% {
    clip: rect(24px, 100px, 113px, 0);
  }
  10% {
    clip: rect(34px, 100px, 27px, 0);
  }
  12.5% {
    clip: rect(63px, 100px, 109px, 0);
  }
  15% {
    clip: rect(27px, 100px, 28px, 0);
  }
  17.5% {
    clip: rect(28px, 100px, 118px, 0);
  }
  20% {
    clip: rect(76px, 100px, 98px, 0);
  }
  22.5% {
    clip: rect(-16px, 100px, 118px, 0);
  }
  25% {
    clip: rect(-5px, 100px, 119px, 0);
  }
  27.5% {
    clip: rect(17px, 100px, 86px, 0);
  }
  30% {
    clip: rect(28px, 100px, 27px, 0);
  }
  32.5% {
    clip: rect(-16px, 100px, 60px, 0);
  }
  35% {
    clip: rect(59px, 100px, 29px, 0);
  }
  37.5% {
    clip: rect(65px, 100px, 56px, 0);
  }
  40% {
    clip: rect(-17px, 100px, 115px, 0);
  }
  42.5% {
    clip: rect(78px, 100px, 28px, 0);
  }
  45% {
    clip: rect(52px, 100px, 120px, 0);
  }
  47.5% {
    clip: rect(78px, 100px, 52px, 0);
  }
  50% {
    clip: rect(11px, 100px, 67px, 0);
  }
  52.5% {
    clip: rect(-16px, 100px, 76px, 0);
  }
  55% {
    clip: rect(65px, 100px, 79px, 0);
  }
  57.5% {
    clip: rect(-13px, 100px, 92px, 0);
  }
  60% {
    clip: rect(63px, 100px, 73px, 0);
  }
  62.5% {
    clip: rect(-4px, 100px, 87px, 0);
  }
  65% {
    clip: rect(43px, 100px, 43px, 0);
  }
  67.5% {
    clip: rect(77px, 100px, 64px, 0);
  }
  70% {
    clip: rect(0px, 100px, 104px, 0);
  }
  72.5% {
    clip: rect(37px, 100px, 40px, 0);
  }
  75% {
    clip: rect(64px, 100px, 85px, 0);
  }
  77.5% {
    clip: rect(19px, 100px, 79px, 0);
  }
  80% {
    clip: rect(-12px, 100px, 96px, 0);
  }
  82.5% {
    clip: rect(-2px, 100px, 104px, 0);
  }
  85% {
    clip: rect(-17px, 100px, 120px, 0);
  }
  87.5% {
    clip: rect(41px, 100px, 71px, 0);
  }
  90% {
    clip: rect(40px, 100px, 87px, 0);
  }
  92.5% {
    clip: rect(67px, 100px, 78px, 0);
  }
  95% {
    clip: rect(-5px, 100px, 22px, 0);
  }
  97.5% {
    clip: rect(75px, 100px, 44px, 0);
  }
  100% {
    clip: rect(67px, 100px, 39px, 0);
  }
}

@keyframes triangle__blue-anim-2 {
  0% {
    clip: rect(43px, 100px, 56px, 0);
  }
  2.5% {
    clip: rect(13px, 100px, 29px, 0);
  }
  5% {
    clip: rect(2px, 100px, 59px, 0);
  }
  7.5% {
    clip: rect(-8px, 100px, 31px, 0);
  }
  10% {
    clip: rect(25px, 100px, 68px, 0);
  }
  12.5% {
    clip: rect(51px, 100px, 89px, 0);
  }
  15% {
    clip: rect(10px, 100px, 80px, 0);
  }
  17.5% {
    clip: rect(36px, 100px, 104px, 0);
  }
  20% {
    clip: rect(53px, 100px, 55px, 0);
  }
  22.5% {
    clip: rect(78px, 100px, 97px, 0);
  }
  25% {
    clip: rect(31px, 100px, 49px, 0);
  }
  27.5% {
    clip: rect(74px, 100px, 104px, 0);
  }
  30% {
    clip: rect(35px, 100px, 41px, 0);
  }
  32.5% {
    clip: rect(31px, 100px, 52px, 0);
  }
  35% {
    clip: rect(72px, 100px, 39px, 0);
  }
  37.5% {
    clip: rect(6px, 100px, 68px, 0);
  }
  40% {
    clip: rect(16px, 100px, 46px, 0);
  }
  42.5% {
    clip: rect(77px, 100px, 105px, 0);
  }
  45% {
    clip: rect(-16px, 100px, 31px, 0);
  }
  47.5% {
    clip: rect(-5px, 100px, 55px, 0);
  }
  50% {
    clip: rect(64px, 100px, 27px, 0);
  }
  52.5% {
    clip: rect(28px, 100px, 35px, 0);
  }
  55% {
    clip: rect(72px, 100px, 95px, 0);
  }
  57.5% {
    clip: rect(65px, 100px, 60px, 0);
  }
  60% {
    clip: rect(35px, 100px, 26px, 0);
  }
  62.5% {
    clip: rect(14px, 100px, 21px, 0);
  }
  65% {
    clip: rect(-2px, 100px, 79px, 0);
  }
  67.5% {
    clip: rect(32px, 100px, 25px, 0);
  }
  70% {
    clip: rect(37px, 100px, 104px, 0);
  }
  72.5% {
    clip: rect(-9px, 100px, 37px, 0);
  }
  75% {
    clip: rect(35px, 100px, 76px, 0);
  }
  77.5% {
    clip: rect(5px, 100px, 47px, 0);
  }
  80% {
    clip: rect(72px, 100px, 54px, 0);
  }
  82.5% {
    clip: rect(30px, 100px, 46px, 0);
  }
  85% {
    clip: rect(-9px, 100px, 66px, 0);
  }
  87.5% {
    clip: rect(6px, 100px, 73px, 0);
  }
  90% {
    clip: rect(78px, 100px, 115px, 0);
  }
  92.5% {
    clip: rect(11px, 100px, 113px, 0);
  }
  95% {
    clip: rect(74px, 100px, 61px, 0);
  }
  97.5% {
    clip: rect(29px, 100px, 83px, 0);
  }
  100% {
    clip: rect(-5px, 100px, 66px, 0);
  }
}

.triangle__gray svg {
  position: absolute;
  top: 200px;
  left: 175px;
  stroke: #5f646e;
  background: black;
  width: 100px;
  height: 100px;
  transform: scale(0.8);
}

.triangle__gray svg:nth-child(2),
.triangle__gray svg:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}

.triangle__gray svg:nth-child(2) {
  stroke: #474b53;
  left: 173px;
  animation: triangle__blue-anim-1 2s infinite linear alternate-reverse;
}

.triangle__gray svg:nth-child(3) {
  stroke: #777d89;
  left: 177px;
  animation: triangle__blue-anim-2 3s infinite linear alternate-reverse;
}
