.HomepageAnonCards_root-3t153 {
  position: relative;
  padding: 3rem 0;
}
@media (min-width: 1101px) {
  .HomepageAnonCards_root-3t153 .width-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}
.HomepageAnonCards_root-3t153 .HomepageAnonCards_item-2FgZo {
  background: var(--cp-color-14);
  padding: 1.5rem 1.5rem 2rem;
  margin: 2rem 0;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.HomepageAnonCards_root-3t153
  .HomepageAnonCards_item-2FgZo
  .HomepageAnonCards_button-1Sv8- {
  position: absolute;
  bottom: 1.5rem;
  transition: all 0.2s ease;
}
.HomepageAnonCards_root-3t153
  .HomepageAnonCards_item-2FgZo
  .HomepageAnonCards_button-1Sv8-:active,
.HomepageAnonCards_root-3t153
  .HomepageAnonCards_item-2FgZo
  .HomepageAnonCards_button-1Sv8-:hover {
  background: var(--cp-color-green);
  color: #000;
}
.HomepageAnonCards_root-3t153 .HomepageAnonCards_item-2FgZo p {
  color: var(--cp-color-6);
}
.HomepageAnonCards_root-3t153 .HomepageAnonCards_icon-3NNBK {
  background: var(--cp-color-17);
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin-bottom: 1rem;
  margin-top: -40px;
}
@media (min-width: 1101px) {
  .HomepageAnonCards_root-3t153 .HomepageAnonCards_icon-3NNBK {
    margin-bottom: 1.5rem;
    margin-top: -60px;
  }
}
.HomepageAnonCards_root-3t153 .HomepageAnonCards_icon-3NNBK img {
  margin: 12px 10px 0;
}
.HomepageAnonCards_bg-3ZECF {
  bottom: -36px;
  position: absolute;
  left: -25%;
  width: 400px;
}
@media (min-width: 1101px) {
  .HomepageAnonCards_bg-3ZECF {
    left: -10%;
  }
}
.HomepageAnonCommunity_root-1Otdl {
  padding: 3rem 0 0;
  margin-bottom: -3rem;
}
.HomepageAnonCommunity_root-1Otdl p {
  color: var(--cp-color-6);
}
@media (max-width: 830px) {
  .HomepageAnonCommunity_copy-3sa4v {
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  .HomepageAnonCommunity_copy-3sa4v a {
    width: 100%;
    display: block;
  }
}
.HomepageAnonEditor_root-3R3yX {
  position: relative;
  overflow: hidden;
  padding: 3rem 0;
  margin-top: 3rem;
  background: hsl(var(--cp-color-16-hsl) / 50%);
}
.HomepageAnonEditor_root-3R3yX .width-wrapper {
  z-index: 1;
}
@media (min-width: 1101px) {
  .HomepageAnonEditor_root-3R3yX .width-wrapper {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 2rem;
  }
}
.HomepageAnonEditor_root-3R3yX summary {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--cp-color-1);
}
.HomepageAnonEditor_root-3R3yX details {
  color: var(--cp-color-6);
  padding: 0.75rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.HomepageAnonEditor_root-3R3yX details em,
.HomepageAnonEditor_root-3R3yX details strong {
  color: var(--cp-color-4);
}
.HomepageAnonEditor_root-3R3yX details[open] {
  background: var(--cp-color-17);
}
.HomepageAnonEditor_root-3R3yX details:active,
.HomepageAnonEditor_root-3R3yX details:hover {
  background: hsl(var(--cp-color-17-hsl) / 15%);
  cursor: pointer;
}
.HomepageAnonEditor_root-3R3yX details p {
  margin: 0.25rem 0 0;
}
@media (min-width: 1101px) {
  .HomepageAnonEditor_root-3R3yX details p {
    margin: 0.5rem 0 0;
  }
}
.HomepageAnonEditor_root-3R3yX .text-button {
  margin: 0.5rem 0.875rem;
}
.HomepageAnonEditor_copy-2neZg {
  text-align: center;
  margin-bottom: 3rem;
}
.HomepageAnonEditor_featuresCopy-3EaqM ul {
  margin: 0;
  padding: 0;
}
.HomepageAnonEditor_featuresCopy-3EaqM li {
  list-style: none;
}
@media (min-width: 1101px) {
  .HomepageAnonEditor_featuresCopy-3EaqM li {
    margin: 0.5rem 0;
  }
}
.HomepageAnonEditor_featuresCopy-3EaqM li:first-child {
  margin-top: 0;
}
.HomepageAnonEditor_illu-6sVqz {
  margin-bottom: -3rem;
  position: relative;
}
@media (max-width: 1100px) {
  .HomepageAnonEditor_illu-6sVqz ul {
    padding-bottom: 65%;
    width: 100%;
    display: block;
  }
}
.HomepageAnonEditor_illu-6sVqz ul li {
  opacity: 0;
  transform: translateY(100%);
  visibility: hidden;
  transition: all 1s ease;
  list-style: none;
  position: absolute;
  top: 0;
}
.HomepageAnonEditor_illu-6sVqz ul.ASSETS li.HomepageAnonEditor_illuAssets-1cOz7,
.HomepageAnonEditor_illu-6sVqz ul.COLLAB li.HomepageAnonEditor_illuCollab-1vDoZ,
.HomepageAnonEditor_illu-6sVqz ul.EMBEDS li.HomepageAnonEditor_illuEmbeds-x3Igd,
.HomepageAnonEditor_illu-6sVqz
  ul.PRIVACY
  li.HomepageAnonEditor_illuPrivacy-C50SL,
.HomepageAnonEditor_illu-6sVqz
  ul.PROJECTS
  li.HomepageAnonEditor_illuProjects-vAnop,
.HomepageAnonEditor_illu-6sVqz
  ul.SUPPORT
  li.HomepageAnonEditor_illuSupport-2W-G0 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.HomepageAnonHeader_root-2xV53 {
  position: relative;
  padding: 1.5rem 0;
}
@media (min-width: 1101px) {
  .HomepageAnonHeader_root-2xV53 {
    padding: 3rem 0;
  }
  .HomepageAnonHeader_root-2xV53 .width-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
.HomepageAnonHeader_copy-B7JN4 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--cp-color-6);
}
.HomepageAnonHeader_copy-B7JN4 p strong {
  color: var(--cp-color-1);
}
.HomepageAnonHeader_logo-3CDih {
  fill: none;
  stroke: var(--cp-color-1);
  stroke-width: 2.3;
  stroke-linejoin: round;
  stroke-linecap: round;
  width: 200px;
  height: 38px;
  display: block;
  margin: 0 auto 2rem;
}
@media (min-width: 1101px) {
  .HomepageAnonHeader_logo-3CDih {
    display: none;
  }
}
.HomepageAnonHeader_glyph-3njrv {
  fill: var(--cp-color-1);
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .HomepageAnonHeader_glyph-3njrv {
    display: none;
  }
}
.HomepageAnonHeader_copy-B7JN4 {
  position: relative;
  z-index: 1;
}
@media (max-width: 1100px) {
  .HomepageAnonHeader_copy-B7JN4 {
    text-align: center;
    margin: 0 2rem;
  }
}
.HomepageAnonHeader_illuArea-2yLqQ {
  background: 0 0;
  border-radius: 10px;
  /* position: absolute;
  margin-top: -650px; */
  z-index: 1;
  width: 100%;
  min-height: 410px;
}
@media (max-width: 1100px) {
  .HomepageAnonHeader_illuArea-2yLqQ {
    margin-bottom: 5rem;
    min-height: 350px;
  }
}
@media (min-width: 1101px) {
  .HomepageAnonHeader_illuArea-2yLqQ {
    grid-area: 1/2;
  }
}
.HomepageAnonHeader_editor1-3y41- {
  position: absolute;
  left: 0;
  bottom: -50px;
}
.HomepageAnonHeader_editor2-wFaKN {
  position: absolute;
  left: 50%;
  top: -55px;
}
.HomepageAnonHeader_bg-2luNi {
  bottom: -480px;
  position: absolute;
  right: -90px;
  width: 600px;
}
@media (max-width: 1100px) {
  .HomepageAnonHeader_bg-2luNi {
    bottom: auto;
    top: 290px;
    width: 650px;
    right: -125px;
  }
}
.HomepageAnonHeaderHero_editorStatic-3YUXL {
  margin-bottom: 2rem;
  display: none;
}
.HomepageAnonHeaderHero_editor-2Qsvh .homeIlluDots.green {
  top: 10%;
  right: 30px;
}
.HomepageAnonHeaderHero_editor-2Qsvh .homeIlluDots.yellow {
  top: 50%;
  right: 80px;
}
@media (min-width: 1408px) {
  .HomepageAnonHeaderHero_editor-2Qsvh .homeIlluDots.yellow {
    right: auto;
    left: 70px;
  }
}
.HomepageAnonHeaderHero_editor-2Qsvh .homeIlluDots.blue {
  top: 80%;
  right: -130px;
}
.HomepageAnonHeaderHero_editor-2Qsvh {
  position: relative;
  min-width: 455px;
}
.HomepageAnonHeaderHero_editorBg-2p6Cb {
  position: absolute;
  right: 0;
  width: 250px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  border-radius: 10px;
}
@media (min-width: 1101px) {
  .HomepageAnonHeaderHero_editorBg-2p6Cb {
    width: 90%;
    right: 0;
  }
}
.HomepageAnonHeaderHero_editorCode-_-pxQ {
  position: absolute;
  width: 300px;
  height: 140px;
  background: #1d1e22;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_html-32lze {
  right: 20px;
  top: -20px;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_css-2tL_z {
  right: -30px;
  top: 130px;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_js-3XnY6 {
  right: 40px;
  top: 280px;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ header {
  display: grid;
  grid-template-columns: 36px auto 36px;
  align-items: center;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ header svg {
  margin: 10px;
}
.HomepageAnonHeaderHero_editorCode-_-pxQ header h1 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 1.57px;
  color: #c5c8d4;
  margin: 0;
}
@media (max-width: 2100px) {
  .HomepageAnonHeaderHero_editor-2Qsvh {
    min-height: 300px;
    margin-bottom: 2rem;
  }
  .HomepageAnonHeaderHero_editorBg-2p6Cb {
    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    height: 310px;
  }
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_html-32lze {
    top: 20px;
    left: 2.5%;
  }
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_css-2tL_z {
    top: 80px;
    right: 2.5%;
  }
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_js-3XnY6 {
    top: 150px;
    left: 50%;
    margin-left: -250px;
    z-index: 4;
  }
}
@media (max-width: 550px) {
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_html-32lze {
    top: 20px;
    left: 2.5%;
  }
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_css-2tL_z {
    top: 80px;
    right: 2.5%;
  }
  .HomepageAnonHeaderHero_editorCode-_-pxQ.HomepageAnonHeaderHero_js-3XnY6 {
    top: 200px;
    left: 7.5%;
    margin-left: 0;
    z-index: 4;
  }
}
.HomepageAnonHeaderHero_codeContent-1TLqW {
  margin: 0 10px 10px;
  color: var(--cp-color-1);
}
.HomepageAnonHeaderHero_codeContent-1TLqW,
.HomepageAnonHeaderHero_codeContent-1TLqW code {
  font-family: var(--cp-font-family-monospace);
  font-size: 13px;
  line-height: 1.3;
}
.HomepageAnonHeaderHero_codeContent-1TLqW p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
.HomepageAnonHeaderHero_cr--Mkc- {
  color: #a88038;
}
.HomepageAnonHeaderHero_co-1wWDL {
  color: #de7300;
}
.HomepageAnonHeaderHero_cy-1OaMF {
  color: #e1ca72;
}
.HomepageAnonHeaderHero_cg-220SE {
  color: #74b087;
}
.HomepageAnonHeaderHero_cp-g5I-X {
  color: #9f8198;
}
.HomepageAnonHeaderHero_cb-4LMl9 {
  color: #7a99ad;
}
.HomepageAnonHeaderHero_cc-3h1mi {
  color: #666;
}
.HomepageAnonHeaderHero_line1-2hbgI,
.HomepageAnonHeaderHero_line2-A3_xZ,
.HomepageAnonHeaderHero_line3-2wi52,
.HomepageAnonHeaderHero_line4-1uUtl,
.HomepageAnonHeaderHero_line5-3llzm {
  width: 0;
  margin: 0 0 -1rem;
  height: 1.2em;
  border-right: 0.15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.HomepageAnonHeaderHero_line1-2hbgI {
  animation: HomepageAnonHeaderHero_typing-1-3wW8g 3s steps(30) 0s forwards,
    HomepageAnonHeaderHero_cursor-38NBW 1s linear 0s 3;
}
.HomepageAnonHeaderHero_line2-A3_xZ {
  animation: HomepageAnonHeaderHero_typing-2-GrroO 3s steps(30) 3s forwards,
    HomepageAnonHeaderHero_cursor-38NBW 1s linear 3s 3;
}
.HomepageAnonHeaderHero_line3-2wi52 {
  animation: HomepageAnonHeaderHero_typing-3-106Hd 3s steps(30) 6s forwards,
    HomepageAnonHeaderHero_cursor-38NBW 1s linear 6s 3;
}
.HomepageAnonHeaderHero_line4-1uUtl {
  animation: HomepageAnonHeaderHero_typing-4-3-KyU 3s steps(30) 9s forwards,
    HomepageAnonHeaderHero_cursor-38NBW 1s linear 9s 3;
}
.HomepageAnonHeaderHero_line1-2hbgI,
.HomepageAnonHeaderHero_line3-2wi52,
.HomepageAnonHeaderHero_line4-1uUtl {
  animation-duration: 1s;
  animation-timing-function: steps(10);
}
.HomepageAnonHeaderHero_line5-3llzm {
  border-color: transparent;
  animation: HomepageAnonHeaderHero_typing-5-32P_j 3s steps(30) 12s forwards,
    HomepageAnonHeaderHero_cursor-persist-1dKef 1s linear 12s infinite;
}
.HomepageAnonHeaderHero_line2-A3_xZ {
  margin-left: 2rem;
}
.HomepageAnonHeaderHero_line3-2wi52,
.HomepageAnonHeaderHero_line4-1uUtl,
.HomepageAnonHeaderHero_line5-3llzm {
  margin-left: 4rem;
}
@keyframes HomepageAnonHeaderHero_typing-1-3wW8g {
  0% {
    width: 0;
  }
  to {
    width: 60px;
  }
}
@keyframes HomepageAnonHeaderHero_typing-2-GrroO {
  0% {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes HomepageAnonHeaderHero_typing-3-106Hd {
  0% {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes HomepageAnonHeaderHero_typing-4-3-KyU {
  0% {
    width: 0;
  }
  to {
    width: 75px;
  }
}
@keyframes HomepageAnonHeaderHero_typing-5-32P_j {
  0% {
    width: 0;
  }
  to {
    width: 141px;
  }
}
@keyframes HomepageAnonHeaderHero_cursor-38NBW {
  0%,
  20%,
  80%,
  to {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: var(--cp-color-1);
  }
}
@keyframes HomepageAnonHeaderHero_cursor-persist-1dKef {
  0%,
  45% {
    border-color: transparent;
  }
  50%,
  to {
    border-color: var(--cp-color-1);
  }
}
.HomepageAnonTeams_root-GebCc {
  position: relative;
  padding: 3rem 0;
}
.HomepageAnonTeams_root-GebCc .home-team-wrapper {
  background: var(--cp-color-16);
  border-radius: 6px;
  padding: 3rem;
  position: relative;
  z-index: 1;
}
.HomepageAnonTeams_root-GebCc h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--cp-font-family-header-alt);
  text-align: center;
}
.HomepageAnonTeams_bg-3p6xc {
  bottom: -50px;
  position: absolute;
  right: -10%;
  width: 400px;
}
.HomepageAnonTeams_copy-a3U9z {
  text-align: center;
  margin: 0 auto 3rem;
  max-width: 35em;
}
.HomepageAnonTeams_copy-a3U9z p {
  color: var(--cp-color-6);
}
.HomepageAnonTeams_logos-18T0V {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.HomepageAnonTeams_logos-18T0V img {
  padding: 1rem;
}
.HomepageAnonTopics_root-2ArLc {
  position: relative;
  padding: 5rem 0;
}
.HomepageAnonTopics_root-2ArLc p {
  color: var(--cp-color-6);
}
.HomepageAnonTopics_topicWrapper-I7dWM {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media (min-width: 1281px) {
  .HomepageAnonTopics_topicWrapper-I7dWM {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.HomepageAnonTopics_copy-s-lLp {
  grid-area: 1/3/1/3;
  display: flex;
  align-items: center;
}
@media (min-width: 1281px) {
  .HomepageAnonTopics_copy-s-lLp {
    grid-area: 1/6/1/6;
  }
}
.HomepageAnonTopics_topic-NIGtn {
  background: var(--cp-color-14);
  border-radius: 6px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.25);
  position: relative;
  transform: scale(0.95);
  transition: all 0.3s ease;
}
.HomepageAnonTopics_topic-NIGtn:focus,
.HomepageAnonTopics_topic-NIGtn:hover {
  transform: scale(1);
}
@media (min-width: 1281px) {
  .HomepageAnonTopics_topic-NIGtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.HomepageAnonTopics_topic-NIGtn h3 {
  bottom: 1.5rem;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
}
.HomepageAnonTopics_topic-NIGtn .HomepageAnonTopics_topicImg-NMrlb {
  padding: 3rem;
  text-align: center;
}
.HomepageAnonTopics_topic-NIGtn img {
  width: 100%;
  margin: auto;
  transition: transform 0.2s ease;
}
@media (min-width: 1281px) {
  .HomepageAnonTopics_topic-NIGtn img {
    max-width: calc(100% - 3rem);
    max-height: calc(100% - 3rem);
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
  }
}
.HomepageAnonTopics_bg-25_Ma {
  bottom: -70px;
  position: absolute;
  left: -100px;
  width: 900px;
}
