@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasKai-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-theme {
  /* Logos */
  --languageDE: var(lightmode);
  --mainLogo: url(/img/logo-light.png);
  --faviconLogo: url(/img/favicon-dark.png);

  --mainLogoBg: #efefef;
  --colorBg: #ffffff;
  --colorFont: #1d1d1f;
  --colorContainer: #f3f3f3;

  --colorMenuBgIpad: rgba(255, 255, 255, 0.72);
  --colorMenuBorder: rgba(0, 0, 0, 0.16);

  --colorBtn: #1d1d1f;
  --colorBtnReverse: #ffffff;

  /* Apple Colors Light */
  --AppleLightRed: rgb(255, 59, 48);
  --AppleLightOrange: rgb(255, 149, 0);
  --AppleLightYellow: rgb(255, 204, 0);
  --AppleLightGreen: rgb(52, 199, 89);
  --AppleLightMint: rgb(0, 199, 190);
  --AppleLightTeal: rgb(48, 176, 199);
  --AppleLightCyan: rgb(50, 173, 230);
  --AppleLightBlue: rgb(0, 122, 255);
  --AppleLightIndigo: rgb(88, 86, 214);
  --AppleLightPurple: rgb(175, 82, 222);
  --AppleLightPink: rgb(255, 45, 85);
  --AppleLightBrown: rgb(162, 132, 94);

  /* Apple Colors Dark */
  --AppleDarkRed: rgb(255, 69, 58);
  --AppleDarkOrange: rgb(255, 159, 10);
  --AppleDarkYellow: rgb(255, 214, 10);
  --AppleDarkGreen: rgb(48, 209, 88);
  --AppleDarkMint: rgb(102, 212, 207);
  --AppleDarkTeal: rgb(64, 200, 224);
  --AppleDarkCyan: rgb(100, 210, 255);
  --AppleDarkBlue: rgb(10, 132, 255);
  --AppleDarkIndigo: rgb(94, 92, 230);
  --AppleDarkPurple: rgb(191, 90, 242);
  --AppleDarkPink: rgb(255, 55, 95);
  --AppleDarkBrown: rgb(172, 142, 104);

  /* Apple Special Colors */
  --AppleMusicRed: #fa243c;
}

.dark-theme {
  /* Logos */
  --languageDE: var(darkmode);
  --mainLogo: url(/img/logo-dark.png);
  --faviconLogo: url(/img/favicon-light.png);

  --mainLogoBg: #232324;
  --colorBg: #000000;
  --colorFont: #f5f5f7;
  --colorContainer: #151516;

  --colorMenuBgIpad: rgba(0, 0, 0, 0.72);
  --colorMenuBorder: rgba(255, 255, 255, 0.24);

  --colorBtn: #ffffff;
  --colorBtnReverse: #1d1d1f;

  /* Apple Colors Light */
  --AppleLightRed: rgb(255, 59, 48);
  --AppleLightOrange: rgb(255, 149, 0);
  --AppleLightYellow: rgb(255, 204, 0);
  --AppleLightGreen: rgb(52, 199, 89);
  --AppleLightMint: rgb(0, 199, 190);
  --AppleLightTeal: rgb(48, 176, 199);
  --AppleLightCyan: rgb(50, 173, 230);
  --AppleLightBlue: rgb(0, 122, 255);
  --AppleLightIndigo: rgb(88, 86, 214);
  --AppleLightPurple: rgb(175, 82, 222);
  --AppleLightPink: rgb(255, 45, 85);
  --AppleLightBrown: rgb(162, 132, 94);

  /* Apple Colors Dark */
  --AppleDarkRed: rgb(255, 69, 58);
  --AppleDarkOrange: rgb(255, 159, 10);
  --AppleDarkYellow: rgb(255, 214, 10);
  --AppleDarkGreen: rgb(48, 209, 88);
  --AppleDarkMint: rgb(102, 212, 207);
  --AppleDarkTeal: rgb(64, 200, 224);
  --AppleDarkCyan: rgb(100, 210, 255);
  --AppleDarkBlue: rgb(10, 132, 255);
  --AppleDarkIndigo: rgb(94, 92, 230);
  --AppleDarkPurple: rgb(191, 90, 242);
  --AppleDarkPink: rgb(255, 55, 95);
  --AppleDarkBrown: rgb(172, 142, 104);

  /* Apple Special Colors */
  --AppleMusicRed: #fa243c;
}

:root {
  /* prettier-ignore */
  --green-glow: 
    0px 0px 2px hsl(120, 100%, 80%),
    0px 0px 15px green,
    0px 0px 60px green;
}

/* Preloader */
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}

.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

#vintageModeContainer {
  display: none;
}

#crt-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/lines.jpg);
  z-index: 10;
  background-size: 7px auto;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.4;
  animation: moveDownAnimation 150s linear infinite;
}

@keyframes moveDownAnimation {
  100% {
    background-position-y: 100%;
  }
}

/* @keyframes crtAnimation {
  0% {
    transform: scaleY(0) scaleX(0);
    filter: brightness(15) blur(0px);
  }
  20% {
    transform: scaleY(0.02) scaleX(0.8);
    filter: brightness(15) blur(0px);
  }
} */

#darken {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#vignette {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/vignette.png);
  z-index: 11;
  background-size: 100% 100%;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--colorFont);
}

span {
  color: var(--colorFont);
}

.paddingBottom30 {
  padding: 0 0 30px 0;
}

/* Sections */
#home {
  display: none;
  align-items: center;
  padding: 300px 0;
}

#timeline {
  /* display: none; */
}

#projects {
  /* background-color: rebeccapurple; */
  display: none;
}

#skills {
  /* display: none; */
}

#musicLibrary {
  display: none;
}

#glichinTriangles {
  display: none;
}

#codeTyping {
  display: none;
}

#Mario {
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  #Mario .container {
    transform: scale(1);
  }
}

#Mario .container {
  transform: scale(0.8);
  transform-origin: center;
}

#Mario .container div {
  position: absolute;
}

@media screen and (max-width: 1024px) {
  #Mario .mario-box {
    transform-origin: 50% 100%;
    transform: scale(0.8);
  }
}

#Mario .mario-box {
  cursor: pointer;
  top: calc(50% - 64px);
  left: calc(25% - 64px);
  width: 128px;
  height: 128px;
}

@media screen and (max-width: 1024px) {
  #Mario .mario-box .in {
    position: relative;
  }
}

#Mario .mario-box .in {
  z-index: 2;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
  background: url(/img/bg-mario.png) no-repeat 0 0;
  -webkit-animation: marioBox 0.6s steps(4) infinite;
  animation: marioBox 0.6s steps(4) infinite;
}

#home #Mario .mario-box:before {
  content: "1";
  position: absolute;
  top: calc(100% + 1rem);
  left: calc(50% - 1rem);
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  color: #ccc;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  border: 1px solid #666;
  border-top-color: #aaa;
  border-bottom-color: #444;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem #000;
}

#Mario .mario-box.b2 {
  left: calc(50% - 64px);
}

#home #Mario .mario-box.b2:before {
  content: "2";
}

#Mario .mario-box.b3 {
  left: calc(75% - 64px);
}

#home #Mario .mario-box.b3:before {
  content: "3";
}

@media screen and (max-width: 1024px) {
  #Mario .mario {
    transform-origin: 50% 0;
    transform: scale(0.8);
  }
}

#Mario .mario {
  position: fixed !important;
  top: calc(50% + 64px);
  left: calc(25% - 96px);
  width: 128px;
  height: 248px;
  background: url(/img/bg-mario.png) no-repeat 0 -384px;
}

.container,
.title-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  perspective: 900px;
  perspective-origin: 50% 50vh;
}

#contact {
  margin-top: 100px;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.horizontalCenter {
  display: flex;
  justify-content: space-between; /* horizontal zentrieren */
  gap: 50px;
  width: 80%;
  margin: 50px auto 0 auto;
  /* flex-wrap: wrap; */
}

a:link,
a:hover {
  text-decoration: none !important;
}

#contact_social_media {
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  margin-top: 50px;
}

#contact_social_media a {
  color: var(--colorFont);
}

#contact_social_media span {
  margin-left: 50px;
}

#faviconTag {
  border-radius: 10px;
}

#logoFlex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logoPadding {
  display: flex;
  padding: 0px 15px;
  background-color: var(--mainLogoBg);
  /* border-bottom: 1px solid var(--colorMenuBorder); */
}

#logo {
  width: 75px;
  height: 52px;
  content: var(--mainLogo);
  background-color: var(--mainLogoBg);
  object-fit: cover;
}

/*Apple Menu Bar*/

/* .ulContainer {
  background-color: blue;
  width: 50%;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
} */

.menu-bar {
  width: 100%;
  border-radius: 0px;
  /* border-bottom: 1px solid var(--colorMenuBorder); */
  height: 52px;
  position: fixed;
  background-color: var(--colorMenuBgIpad);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: flex-end; /* Align menu-points */
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.menu-bar a {
  color: var(--colorFont);
}

.menu-bar li {
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 14px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 5px;
}

.menu-bar li:hover > a {
  color: var(--colorBg);
}

.menu-bar li:hover::before {
  background-color: var(--colorFont);
  transform: scale(1.2);
}

.toggle-btn {
  position: relative;
  min-width: 145px;
  min-height: 74px;
  border-radius: 40px;
  transform: scale(0.35);
  border: solid var(--colorMenuBorder);
  border-width: 3px;
  box-sizing: content-box;
  margin-left: -26px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#toggleBtn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#toggleBtn span:before,
#toggleBtn span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#toggleBtn span:before {
  background-color: #fff;
  transform: translate(-58px, 0px);
  z-index: 1;
}

#toggleBtn span:after {
  background-color: #000;
  transform: translate(8px, 0px);
  z-index: 0;
}

#toggleBtn input[type="checkbox"]:checked + span {
  background-color: #000;
}

#toggleBtn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#toggleBtn input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(56px, -19px);
}

#toggleBtn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(79px, 0px);
}

.button {
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 550;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 26px;
  color: var(--colorBtn);
  background: none;
  border: 2px solid var(--colorBtn);
  min-width: 97px;
  padding: 10px 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  transition: none;
}

.button:hover,
.button:active {
  color: var(--colorBtnReverse) !important;
  background: var(--colorBtn);
}

/* .arrow {
  position: relative;
  bottom: 3px;
  right: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.5s;
} */

/* .button:hover > .arrow {
  position: relative;
  bottom: 3px;
  right: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.5s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/*About Me*/
#wordRotation {
  width: 980px;
  font-size: 100px;
  font-family: Helvetica;
  /* line-height: 1.06; */
  letter-spacing: -0.02em;
  color: var(--colorFont);
}

.mask {
  height: 106px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: var(--offset);

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: 0.5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

#image {
  z-index: 1;
}

#aboutContainer {
  width: 50%;
  height: 200px;
  background: var(--AppleLightYellow);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  z-index: 1;
}

.buttons {
  display: flex;
  align-content: center;
  gap: 16px;
  /* padding: 15px 0 15px 0; */
}

#projectsContainer {
  height: 200px;
  /*background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);*/
  background-color: var(--colorContainer);
  /*box-shadow: 0 20px 50px rgb(0 0 0 / 80%);*/
  border-radius: 0px;
  color: var(--colorFont);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  z-index: 1000;
}

#flexboxContainer {
  width: 80%;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skillsContainer {
  position: sticky;
  margin-top: -125px;
  width: 80%;
  height: 200px;
  background: var(--colorContainer);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center; */
}

#test {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
}

#languageSkillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

#skillsText {
  /* background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;
}

.languageSkills {
  width: 800px;
  max-width: 85vw;
  height: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.languageSkills:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  animation: load 15s linear;
}
@-moz-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

/* .musicContainer {
  width: 100%;
  height: 300px;
  background: var(--AppleMusicRed);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
} */

/*  pos relative
    margin-left: auto;
    margin-right: auto; 
    width: 100%; */

/* #musicGallery {
  width: 100%;
  height: 230px;
  position: relative;
  top: 100px;
  z-index: 100;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
} */

.section-stations {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 42px; /* off */
  background-color: #fafafa;
}

.section-stations .section-content {
  position: relative;
  width: 100%;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
} /* off */

.stations-gallery-wrapper .tabnav-wrapper {
  max-width: 100%;
}

.stations-gallery-wrapper .tabnav {
  width: auto;
  margin-bottom: 13px;
}

.tabnav {
  width: 100%; /* off */
  position: relative;
  overflow: hidden;
  height: 54px;
  font-size: 17px;
  text-align: center;
  z-index: 1;
}

.stations-gallery-wrapper .tabnav-items {
  display: -webkit-box; /* off */
  display: -ms-flexbox; /* off */
  display: flex;
  padding-left: calc((100% - 980px) / 2 - 34px); /* off */
}

.tabnav .tabnav-items {
  margin: 0 34px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* off */
  -ms-overflow-style: none; /* off */
}

.tabnav .tabnav-item:first-child {
  padding-left: 0;
}

/* li */

.tabnav .tabnav-item {
  display: inline-block;
  padding-left: 40px; /* off */
  border-bottom: 1px solid #c7c7c7;
  list-style: none;
  outline: none;
}

/* html.js */

.stations-gallery-wrapper .tabnav-link:hover {
  color: #e85f82;
}

.stations-gallery-wrapper .tabnav-link {
  font-weight: 700;
  padding-bottom: 3px;
  -webkit-transition: opacity 150ms ease-in-out; /* off */
  transition: opacity 150ms ease-in-out;
}

.tabnav-link.current {
  pointer-events: none; /* off */
  color: #e85f82; /* off */
  text-decoration: none;
  cursor: default;
  z-index: 10;
}

.tabnav-link:hover {
  color: #06c;
  text-decoration: none;
} /* off */

.with-paddles .tabnav-link {
  text-align: center;
}

a:active,
.link:active {
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

a:link,
a:visited,
.link:link,
.link:visited {
  text-decoration: none;
}

.tabnav-link {
  font-size: 17px;
  line-height: 1;
  font-weight: 400; /* off */
  letter-spacing: -0.021em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 9px 0 11px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: #bcbcbc; /* off */
  text-align: left; /* off */
  text-decoration: none; /* off */
  display: block;
  position: relative;
  z-index: 0; /* off */
}

a,
.link {
  color: #06c;
  letter-spacing: inherit;
}

a:-webkit-any-link:active {
  color: -webkit-activelink;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
  text-decoration: underline;
}

.stations-gallery-wrapper .tabnav-link:hover {
  color: #e85f82;
}

.tabnav-link.current:after {
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  border-bottom: 2px solid #e85f82;
  content: "";
}

.stations-gallery {
  height: 228px;
} /* off */

/* element.style {
  position: absolute;
  z-index: 3;
  opacity: 1;
} */

.stations-gallery-item {
  width: 100%;
  position: absolute; /* off */
}

.music-slider-container {
  position: relative;
  background-color: #fafafa;
  height: 228px; /* off */
}

.music-slider {
  margin: 0 34px;
  padding-left: calc((100% - 980px) / 2 - 34px);
  width: 980px; /* off */
  position: relative;
  display: -webkit-box; /* off */
  display: -ms-flexbox; /* off */
  display: flex;
  gap: 20px;
}

/* element.style {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: transform 0s ease 0s, left 0s ease 0s;
  transform: translateX(0px) translateY(0px);
} */

.music-slider .ac-gallery-slidecontainer {
  height: 100%;
  width: 100%;
} /* off */

/* element.style {
  position: absolute;
  transform: translateZ(0px);
  width: 712px;
  left: 0px;
} */

.music-slider .ac-gallery-slideitemwrapper.ac-gallery-currentitem {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in; /* off */
  transition: opacity 0.3s ease-in;
}

.music-slider .ac-gallery-slideitemwrapper {
  width: 100%;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
} /* off */

/* element.style {
  position: absolute;
  left: 0px;
} */

.music-slide {
  -webkit-box-flex: 0;
  -ms-flex: none; /* off */
  flex: none;
  width: 180px; /* off */
}

.stations-gallery-item.ac-gallery-currentitem .music-slide-link,
.stations-gallery.transitioning .music-slide-link {
  visibility: visible;
}

a:active,
.link:active {
  text-decoration: none;
}

a:link,
a:visited,
.link:link,
.link:visited {
  text-decoration: none;
} /* off */

.music-slide-link {
  display: block;
  position: relative;
  visibility: hidden; /* off */
}

a,
.link {
  color: #06c;
  letter-spacing: inherit;
}

a:-webkit-any-link:active {
  color: -webkit-activelink;
} /* off */

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
  text-decoration: underline; /* off */
}

element.style {
  background-color: #f4f4f4;
}

.music-slide-img-wrapper {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 100%;
  background-color: #eee; /* off */
  border-radius: 4px;
}

.music-slide-link .icon-thumbnailplay {
  display: inline-block;
  z-index: 1;
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 42px;
  width: 55px;
  height: 55px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.music-slide-img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  position: absolute;
}

.music-slide-headline,
.music-slide-subhead {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Originally h1 - h6 */
.music-slide-headline {
  font-weight: 600;
  color: #1d1d1f;
}

.music-slide-subhead {
  margin-top: 0;
  color: #6e6e6e;
}

/* .galleryItem {
  width: 180px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}

.galleryItemImg {
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 5px;
  margin-bottom: 12px;
} */

#contactContainer {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  background: var(--colorContainer);
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

#referencesContainer {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  background: var(--colorContainer);
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

#htmlContainer {
  width: 400px;
  height: 400px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
}

#cssContainer {
  width: 400px;
  height: 400px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
}

#jsContainer {
  width: 400px;
  height: 400px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
}

#apple1 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0), #151b25, #151516),
    linear-gradient(90deg, #172538, #18263a 50%);
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

#apple2 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(
    to right top,
    #071931 0%,
    #33274f 50%,
    #661e43 100%
  );
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

#apple3 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(to bottom, #4c102a 0%, #151516 100%);
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

#svgTimeline {
  display: block;
  /* background-color: green; */
}

#pathTimeline {
  /* margin: -500px; */
  fill: none;
  stroke: var(--colorFont);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* Animate Timeline */
  /* stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: draw 7.5s ease-in forwards; */
  z-index: 100;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; /* when animation finishes stroke-dashoffset: 0;*/
  }
}
/*Locked*/
.lockTimeline {
  display: block;
}

.lockItem {
  display: none !important;
}

.lockContainer {
  display: block;
}

.lockApple {
  display: none;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
  /*display: none;*/
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.items {
  position: absolute;
  top: 1300px;
  left: 240px;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.items li {
  padding: 2em 0;
}

.items .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background-color: var(--AppleLightCyan);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.items .hexa:before {
  border-bottom: 4px solid var(--AppleLightCyan);
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.items .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid var(--AppleLightCyan);
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  color: black;
  background: white;
  font-weight: 600;
  z-index: 5;
  padding: 6px 10px;
  text-align: left;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 5px 0px;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0px 5px;
}

.time-wrapper {
  /* display: block; */
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background-color: var(--AppleLightCyan);
  display: inline-block;
  padding: 8px;
}

.direction-l .time {
  border-radius: 5px 0px 0px 5px;
}

.direction-r .time {
  border-radius: 0px 5px 5px 0px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 5px;
}

.direction-l .desc {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 5px 0px;
}
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 5;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0px 5px;
}

@media (min-width: 768px) {
  .items {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .items li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .items .hexa {
    left: -28px;
    right: auto;
    top: 5px;
  }

  .items .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  /*Triangle*/
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .items {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

.triangles {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 325px;
  list-style-type: none;
  padding: 0;
}

.trianglesLeft,
.trianglesRight {
  width: 308px;
  display: flex;
  flex-direction: column;
  gap: 1200px;
}

.trianglesLeftFlex {
  margin-top: 1200px;
  display: flex;
  justify-content: flex-start;
}

.trianglesRightFlex {
  margin-top: -1320px;
  display: flex;
  justify-content: flex-end;
}

/*Hexagon Progressbar*/
.hex-progress {
  width: 175px;
  height: 200px;
}

.hex-progress .track,
.hex-progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress .track {
  stroke: rgb(56, 71, 83);
}

.hex-progress .fill {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress .value,
.hex-progress .text {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress .value {
  font-size: 150px;
}

.textStyling {
  color: var(--colorFont);
  font-weight: 600;
  font-size: 25px;
  text-anchor: middle;
}

.hex-progress .text {
  font-size: 120px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Hexagon Progressbar2*/
.hex-progress2 {
  width: 175px;
  height: 200px;
}

.hex-progress2 .track2,
.hex-progress2 .fill2 {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress2 .track2 {
  stroke: rgb(56, 71, 83);
}

.hex-progress2 .fill2 {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress2 .value2,
.hex-progress2 .text2 {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress2 .value2 {
  font-size: 150px;
}

.hex-progress2 .text2 {
  font-size: 120px;
}

.noselect2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Hexagon Progressbar3*/
.hex-progress3 {
  width: 175px;
  height: 200px;
}

.hex-progress3 .track3,
.hex-progress3 .fill3 {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress3 .track3 {
  stroke: rgb(56, 71, 83);
}

.hex-progress3 .fill3 {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress3 .value3,
.hex-progress3 .text3 {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress3 .value3 {
  font-size: 150px;
}

.hex-progress3 .text3 {
  font-size: 120px;
}

.noselect3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasKai-Regular.otf");
}

a {
  width: fit-content;
  text-decoration: none;
  color: #fff;
}

.button2 {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.button2:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url("../img/sky.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url("../img/bushes.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url("../img/water.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url("../img/people1.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url("../img/people2.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url("../img/people3.png") no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 25rem;
}

.year-container h1 {
  font-family: Bebas, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
}

.year-container h1:nth-of-type(2) {
  left: 30%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 30%;
}

.year-container h1:nth-of-type(4) {
  right: 0;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container svg {
  margin-left: 32px;
  filter: saturate(0.9);
}

.text-container {
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  gap: 20px;
  /* background-color: red; */
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .info-container {
    display: grid;
    grid-template-columns: 411px 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
  }

  .text-container p:nth-of-type(1) {
    font-size: 0.86rem;
  }
}

@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}
