:root {
  --tile-border-radius: 30px;
}

/* ------------------------------------------------------- */

/* .page-overview .modal-standard.modal-open.done-animating {
  animation: none;
  opacity: 1;
} */

.page-overview .modal-standard.modal-open {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.page-overview .modal-standard {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 600;
  letter-spacing: 0.012em;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  color: #a1a1a6;
  padding: 0;
  /* opacity: 0; */
}

.modal-open {
  display: block;
  z-index: 11000;
}

.modal-standard {
  overflow: auto;
  padding: 54px 0;
  background: rgba(0, 0, 0, 0.48);
  /* -webkit-overflow-scrolling: touch; */
}

.modal {
  position: absolute;
  left: -1000%;
  opacity: 0;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .content-table,
.page-overview .modal-standard .content-cell {
  display: block;
}

.modal-standard .content-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .content-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.modal-standard .content-cell {
  display: table-cell;
  vertical-align: middle;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .content-wrapper {
  z-index: 1;
  width: 1030px;
}

.modal-standard .content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* ------------------------------------------------------- */

.theme-dark .modal-standard .content-padding,
.modal-standard.theme-dark .content-padding {
  background: #1d1d1f;
}

.page-overview .modal-standard .content-padding {
  padding: 0;
  flex-basis: 100%;
  max-width: 100%;
  border-radius: var(--tile-border-radius);
}

.modal-standard .content-padding {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding: 80px 8.33333%;
  background: white;
  border-radius: 18px;
}

.large-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-content {
  width: auto !important;
  margin: 54px 0;
  z-index: 1;
  padding: 0 38px;
}

.modal .modal-content {
  width: 100%;
  height: 100%;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  justify-content: center;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-content .grid-item-modal {
  display: flex;
  flex-grow: 1;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-content .grid-item-modal-content {
  padding: 92px 107px 92px 71px;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .typography-eyebrow-reduced {
  margin-bottom: 30px;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: #f5f5f7;
}

[class*='typography-eyebrow'] {
  display: block;
  margin-bottom: 0.4em;
}

.typography-eyebrow-reduced {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .grid-item-modal h3 + p {
  margin-top: 0;
}

/* ------------------------------------------------------- */

p + *,
ul + *,
ol + * {
  margin-top: 0.8em;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .subhead {
  color: #f5f5f7;
  display: block;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-close-sticky {
  z-index: 1;
  /* position: -webkit-sticky; */
  position: sticky;
  order: -1;
  /* width: -webkit-min-content; */
  width: min-content;
  height: 128px;
  top: 0;
  margin-top: -54px;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-close-circle {
  margin-top: 92px;
  width: 36px;
  height: 36px;
}

input,
textarea,
select,
button {
  font-synthesis: none;
  /* -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  direction: ltr;
  text-align: left;
}

button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-close-circle .close-icon {
  width: 36px;
  height: 36px;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-close-circle .close-icon path {
  fill: #fff;
}

/* ------------------------------------------------------- */

.page-overview .modal-standard .modal-close {
  display: none;
}

.theme-dark .modal-close {
  color: rgba(110, 110, 115, 0.8);
}

.modal-close {
  position: absolute;
  /* display: -webkit-box; */
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  overflow: hidden;
  top: 24px;
  left: 24px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1;
  cursor: pointer;
  background: none;
  border: 0;
  color: rgba(134, 134, 139, 0.8);
}

/* ------------------------------------------------------- */
