#timeline::before,
#timeline:after,
#timeline {
  box-sizing: inherit;
}

.right {
  float: right;
}

/* ====== MIXINS ===== */
.poster__heading,
.poster__subheading {
  text-align: center;
}

.poster__heading {
  margin: 0 auto;
}

#timeline {
  /* font-family: "Open Sans"; */
  font-size: 100%;
}

@media screen and (min-width: 31.25em) {
  #timeline {
    font-size: 105%;
  }
}

@media screen and (min-width: 50em) {
  #timeline {
    font-size: 115%;
  }
}

@media screen and (min-width: 75em) {
  #timeline {
    font-size: 125%;
  }
}

.btn--primary,
.btn--comments {
  display: inline;
  text-decoration: none;
  padding: 0.45em 1.25em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.75rem;
  border-radius: 25px;
  font-family: 'Open Sans';
  transition: all 250ms ease;
}

.btn--primary {
  border: 1px solid white;
}

.btn--primary:hover {
  background-color: white;
  color: black;
}

.poster {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  /* background-image: url("http://codepen.vincebrown.me/assets/images/snow-mountains.jpg"); */
}

.poster__heading {
  margin-top: 500px;
  width: 95%;
  font-weight: 600;
  font-size: 2em;
  transition: all 400ms ease;
}

@media screen and (min-width: 31.25em) {
  .poster__heading {
    font-size: 2.25em;
  }
}

@media screen and (min-width: 50em) {
  .poster__heading {
    font-size: 2.75em;
  }
}

.poster__subheading {
  display: block;
  font-size: 0.3em;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff9639;
  padding-top: 0.8em;
  margin-bottom: 0.6em;
}

.scale {
  transform: scale(0.8);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
}

.timeline-wrapper {
  /* padding-bottom: 25em; */
  /* background: linear-gradient(rgba(0, 0, 0, 0), #151b25, #151516),
    linear-gradient(90deg, #172538, #18263a 50%); */
}

.svg-timeline {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media screen and (min-width: 50em) {
  .svg-timeline {
    display: block;
  }
}

.timeline {
  list-style: none;
  transition: all 250ms ease;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 31.25em) {
  .timeline {
    width: 80%;
  }
}

@media screen and (min-width: 50em) {
  .timeline {
    width: 95%;
  }
}

.timeline__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  gap: 10px;
  clear: both;
  z-index: 100;
}

@media screen and (min-width: 50em) {
  .timeline__item {
    width: 40%;
  }
}

.timeline__day {
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding-bottom: 0.75em;
}

.timeline__day span {
  font-weight: 300;
  color: orange;
  text-transform: none;
}

.timeline__day-sum {
  font-weight: 300;
  font-size: 0.8em;
  display: block;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
