/* ---------------------------- play-pause-button --------------------------- */

/* .play-pause-button {
  position: relative;
  z-index: 2;
  top: -442px;
  right: 34px;
  height: 34px;
  width: 34px;
} */

/* @media only screen and (max-width: 1068px) {
  .play-pause-button {
    top: -248px;
    right: 27px;
    height: 27px;
    width: 27px;
  }
} */

/* @media only screen and (max-width: 734px) {
  .play-pause-button {
    top: unset;
    right: unset;
    height: 26px;
    width: 26px;
  }

  .play-pause-button {
    top: 36px;
  }
} */

.play-pause-button.playing,
.playing .play-pause-button {
  opacity: 1;
  pointer-events: auto;
}

.play-pause-button {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

/* .play-pause-button.has-background {
  top: -350px;
  right: 34px;
}

@media only screen and (max-width: 1068px) {
  .play-pause-button.has-background {
    top: -260px;
    right: 27px;
  }
}

@media only screen and (max-width: 734px) {
  .play-pause-button.has-background {
    top: unset;
    right: unset;
  }
}

.play-pause-button.has-background svg {
  fill: var(--color-fill);
}

@media only screen and (max-width: 734px) {
  .play-pause-button.has-background svg {
    fill: var(--color-code-plain);
  }
} */

.play-pause-button.playing .play-icon {
  opacity: 0;
}

.play-pause-button.playing .pause-icon {
  opacity: 1;
}

.play-pause-button .control-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-pause-button svg {
  fill: var(--color-fill-gray);
}

@media only screen and (max-width: 734px) {
  .play-pause-button svg {
    fill: var(--color-code-plain);
  }
}

/* --------------------------------- marquee -------------------------------- */

.marquee {
  display: flex;
}

.marquee {
  transition: opacity 300ms;
}

.marquee:first-child {
  margin-bottom: 34px;
}

@media only screen and (max-width: 1068px) {
  .marquee:first-child {
    margin-bottom: 41px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee:first-child {
    margin-bottom: 30px;
  }
}

.marquee:last-child {
  margin-left: -100px;
}

@media only screen and (max-width: 1068px) {
  .marquee:last-child {
    margin-left: -60px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee:last-child {
    margin-left: -6px;
  }
}

/* ------------------------------ marquee-list ------------------------------ */

.marquee-list {
  margin-left: 0;
  margin-top: 0;
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
}

/* ------------------------------ marquee-tile ------------------------------ */

.marquee-tile {
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  width: var(--tile-width);
  /* margin-top: 15px; */
  margin-right: 15px;
}

@media only screen and (max-width: 1068px) {
  .marquee-tile {
    margin-top: 13px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-tile {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1068px) {
  .marquee-tile {
    margin-right: 13px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-tile {
    margin-right: 10px;
  }
}

/* ------------------------------ marquee-link ------------------------------ */

.marquee-link {
  display: block;
  overflow: hidden;
}

.marquee-link:hover {
  text-decoration: none;
}

.marquee-link:hover .marquee-hover-content {
  opacity: 1;
}

.marquee-link:hover .marquee-cta {
  transform: translateY(0);
}

/* ------------------------------- marquee-cta ------------------------------ */

.marquee-cta {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 980px;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  letter-spacing: 0em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  min-width: 26px;
  padding: 12px 22px;
  background: var(--color-fill);
  color: var(--color-figure-gray);
  transform: translateY(15px);
}

.marquee-cta:hover {
  text-decoration: none;
}

/* .marquee-cta:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
} */

.marquee-cta:active {
  outline: none;
}

.marquee-cta:disabled {
  cursor: default;
}

.marquee-cta:hover {
  background: var(--color-fill);
}

.marquee-cta:active {
  background: var(--color-fill-tertiary);
}

.marquee-cta:disabled {
  background: var(--color-fill);
  color: var(--color-fill-gray);
  opacity: 0.32;
}

.marquee-cta:hover {
  opacity: 0.9;
}

.marquee-cta {
  transition: transform 400ms;
}

@media only screen and (max-width: 734px) {
  .marquee-cta {
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 700;
    letter-spacing: 0em;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
    min-width: 28px;
    padding: 8px 10px 8px 11px;
  }
}

/* ----------------------------- marquee-picture ---------------------------- */

.marquee-picture {
  display: block;
  object-fit: cover;
  width: var(--tile-width);
  height: var(--tile-height);
}

.marquee-picture:after {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

@media only screen and (max-width: 1068px) {
  .marquee-picture:after {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-picture:after {
    border-radius: 4px;
  }
}

.marquee-picture img {
  height: 100%;
  vertical-align: bottom;
  width: 100%;
}

/* ------------------------- marquee-hover-container ------------------------ */

.marquee-hover-container {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

@media only screen and (max-width: 1068px) {
  .marquee-hover-container {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-hover-container {
    border-radius: 4px;
  }
}

/* -------------------------- marquee-hover-content ------------------------- */

.marquee-hover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 6px;
}

@media only screen and (max-width: 1068px) {
  .marquee-hover-content {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-hover-content {
    border-radius: 4px;
  }
}

.marquee-hover-content {
  transition: opacity 300ms;
}

/* ------------------------------ marquee-copy ------------------------------ */

.marquee-copy {
  font-size: 14px;
  line-height: 1.2857742857;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  margin-top: 10px;
}

@media only screen and (max-width: 734px) {
  .marquee-copy {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
  }
}

@media only screen and (max-width: 1068px) {
  .marquee-copy {
    margin-top: 7px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-copy {
    margin-top: 6px;
  }
}

/* ------------------------------ marquee-title ----------------------------- */

.marquee-title {
  color: var(--color-fill-gray);
}

/* ---------------------------- marquee-subtitle ---------------------------- */

.marquee-subtitle {
  color: var(--color-fill-gray-secondary);
  margin-top: 0.16em;
}

@media only screen and (max-width: 1068px) {
  .marquee-subtitle {
    margin-top: -3px;
  }
}

@media only screen and (max-width: 734px) {
  .marquee-subtitle {
    margin-top: -2px;
  }
}

.marquee-subtitle,
.marquee-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ----------------------------- dynamic-gallery ---------------------------- */

.dynamic-gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
}

/* ---------------------------- control-container --------------------------- */

.control-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 40px;
  z-index: 4;
  height: 0;
}

@media only screen and (max-width: 734px) {
  .control-container {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 734px) and (max-width: 734px) {
  .control-container {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
  }
}

/* ----------------------- play-pause-marquees-button ----------------------- */

.play-pause-marquees-button {
  right: 54px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  color: var(--color-figure-gray-secondary);
}

.play-pause-marquees-button:hover {
  color: var(--color-fill-gray);
}

.dynamic-gallery.marquees-initialized .play-pause-marquees-button {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (max-width: 1068px) {
  .play-pause-marquees-button {
    right: 20px;
  }
}

/* -------------------------- dynamic-gallery-item -------------------------- */

.dynamic-gallery-item {
  width: 100%;
  position: absolute;
  /* background-color: var(--color-fill); */
  visibility: hidden;
  z-index: 0;
}

.dynamic-gallery-item:first-of-type {
  visibility: visible;
  z-index: 1;
}

/* --------------------- dynamic-gallery-item-container --------------------- */

.dynamic-gallery-item-container {
  height: 305px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1068px) {
  .dynamic-gallery-item-container {
    height: 235px;
  }
}

@media only screen and (max-width: 734px) {
  .dynamic-gallery-item-container {
    height: 190px;
  }
}

@media only screen and (min-width: 0px) {
  .dynamic-gallery-item-container.apple-music {
    --tile-width: 234px;
    --tile-height: 234px;
  }
}

@media only screen and (max-width: 1068px) {
  .dynamic-gallery-item-container.apple-music {
    --tile-width: 164px;
    --tile-height: 164px;
  }
}

@media only screen and (max-width: 735px) {
  .dynamic-gallery-item-container.apple-music {
    --tile-width: 132px;
    --tile-height: 132px;
  }
}