html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: helvetica;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-theme {
  --colorBackground: #ffffff;
  --colorContainer: #f3f3f3;
  --colorTransparent: rgba(255, 255, 255, 0.4);
  --colorMenuBackground: rgba(255, 255, 255, 0.72);
  --colorMenuBorder: rgba(0, 0, 0, 0.16);
  --colorScrollbarTrack: #fafafa;
  --colorScrollbarTrackBorder: #1c1c1c;
  --colorFont: #000000;
  --colorBtn: #1d1d1f;
  --colorBtnReverse: #ffffff;
}

.dark-theme {
  --colorBackground: #000000;
  --colorContainer: #151516;
  --colorTransparent: rgba(0, 0, 0, 0.4);
  --colorMenuBackground: rgba(29, 29, 31, 0.72);
  --colorMenuBorder: rgba(255, 255, 255, 0.24);
  --colorScrollbarTrack: #0f0f0f;
  --colorScrollbarTrackBorder: #1c1c1c;
  --colorFont: #ffffff;
  --colorBtn: #ffffff;
  --colorBtnReverse: #1d1d1f;
}

:root {
  --blue: #51c1e9;
  --red: #f03a3a;
  /*background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%); */
}

body {
  background: var(--colorBackground);
  margin: 0;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--colorFont);
}

span {
  color: var(--colorFont);
}

.z-1 {
  z-index: -1;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z10 {
  z-index: 10;
}

.z100 {
  z-index: 100;
}

.paddingBottom30 {
  padding: 0 0 30px 0;
}

.centerItems {
  margin-top: 125px;
  display: flex;
  justify-content: space-between; /* horizontal zentrieren */
  gap: 50px;
  /* flex-wrap: wrap; */
}

a:link,
a:hover {
  text-decoration: none !important;
}

#contact_social_media {
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  margin-top: 50px;
}

#contact_social_media a {
  color: var(--colorFont);
}

#contact_social_media span {
  margin-left: 50px;
}

.background {
  background-image: url(macos-big-sur-5120x2880-mountains-apple-october-2020-event-5k-23121.jpg); /*--edit image--*/
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.background::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

/*Apple Menu Bar*/

/* .ulContainer {
  background-color: blue;
  width: 50%;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
} */

.menu-bar {
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid var(--colorMenuBorder);
  height: 52px;
  position: fixed;
  background-color: var(--colorMenuBackground);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu-bar a {
  color: var(--colorFont);
}

.menu-bar li {
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 14px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 5px;
}

.menu-bar li:hover > a {
  color: var(--colorBackground);
}

.menu-bar li:hover::before {
  background-color: var(--colorFont);
  transform: scale(1.2);
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
/* Chrome: yes */
/* Safari: no */
body::-webkit-scrollbar {
  background-color: var(--colorScrollbarTrack);
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: var(--colorScrollbarTrack);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 3.5px solid var(--colorContainer);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  border: 5px solid #fff;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

.toggle-btn {
  position: relative;
  width: 145px;
  height: 74px;
  border-radius: 40px;
  transform: scale(0.35);
  border: solid var(--colorMenuBorder);
  border-width: 3px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(-58px, 0px);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: #000;
  transform: translate(8px, 0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(56px, -19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(79px, 0px);
}

.button {
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: var(--colorBtn);
  background: none;
  border: 2px solid var(--colorBtn);
  min-width: 97px;
  padding: 10px 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 980px;
}

.button:hover {
  color: var(--colorBtnReverse);
  background: var(--colorBtn);
}

/* .arrow {
  position: relative;
  bottom: 3px;
  right: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.5s;
} */

/* .button:hover > .arrow {
  position: relative;
  bottom: 3px;
  right: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.5s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*About Me*/
#hexagonImage {
  margin-top: 400px;
}

#aboutMeContainer {
  width: 50%;
  height: 200px;
  background: #ffcf2b;
  position: relative;
  bottom: 470px;
  margin-top: 160px;
  margin-left: 400px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}

.buttons {
  display: flex;
  align-content: center;
  gap: 10px;
  /* padding: 15px 0 15px 0; */
}

#projectsContainer {
  width: 1000px;
  height: 200px;
  padding-top: 5px;
  /*background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);*/
  background-color: var(--colorContainer);
  position: absolute;
  top: 750px;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0 20px 50px rgb(0 0 0 / 80%);*/
  border-radius: 0px;
  color: var(--colorFont);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}

#journeyContinuesContainer {
  width: 100%;
  height: 275px;
  position: absolute;
  top: 1240px;
  left: 0px;
  background-color: var(--colorTransparent);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px 15px var(--colorTransparent);
}

#flexboxContainer {
  width: 80%;
  height: 175px;
  /* background: green; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 600px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}

#skillsContainer {
  width: 80%;
  height: 200px;
  background: var(--colorContainer);
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

#contactContainer {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  background: var(--colorContainer);
  position: relative;
  top: 750px;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0 20px 50px rgb(0 0 0 / 80%);*/
  /* border-radius: 10px; */
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

#htmlContainer {
  width: 400px;
  height: 500px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: flex-start; /* vertikal ende */
}

#cssContainer {
  width: 400px;
  height: 500px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: flex-start; /* vertikal ende */
}

#jsContainer {
  width: 400px;
  height: 500px;
  background: var(--colorContainer);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: flex-start; /* vertikal ende */
}

#apple1 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0), #151b25, #151516),
    linear-gradient(90deg, #172538, #18263a 50%);
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

#apple2 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(
    to right top,
    #071931 0%,
    #33274f 50%,
    #661e43 100%
  );
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

#apple3 {
  width: 73%;
  height: 700px;
  padding-top: 5px;
  background: linear-gradient(to bottom, #4c102a 0%, #151516 100%);
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
  border-radius: 30px;
}

/*Timeline*/
#timeline {
  margin-top: 0px;
}

/*Locked*/
.lockTimeline {
  display: block;
}

.lockContainer {
  display: block;
}

.lockApple {
  display: none;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
  /*display: none;*/
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.items {
  position: relative;
  bottom: 2715px;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.items li {
  padding: 2em 0;
}

.items .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background-color: var(--blue);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.items .hexa:before {
  border-bottom: 4px solid var(--blue);
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.items .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid var(--blue);
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  color: black;
  background: white;
  font-weight: 600;
  z-index: 5;
  padding: 6px 10px;
  text-align: left;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 5px 0px;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0px 5px;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 5;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background-color: var(--blue);
  display: inline-block;
  padding: 8px;
}

.direction-l .time {
  border-radius: 5px 0px 0px 5px;
}

.direction-r .time {
  border-radius: 0px 5px 5px 0px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 5px;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 5;
}

@media (min-width: 768px) {
  .items {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .items li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .items .hexa {
    left: -28px;
    right: auto;
    top: 5px;
  }

  .items .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  /*Triangle*/
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .items {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/*Hexagon Progressbar*/
.hex-progress {
  width: 175px;
  height: 350px;
}

.hex-progress .track,
.hex-progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress .track {
  stroke: rgb(56, 71, 83);
}

.hex-progress .fill {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress .value,
.hex-progress .text {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress .value {
  font-size: 150px;
}

.hex-progress .text {
  font-size: 120px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Hexagon Progressbar2*/
.hex-progress2 {
  width: 175px;
  height: 350px;
}

.hex-progress2 .track2,
.hex-progress2 .fill2 {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress2 .track2 {
  stroke: rgb(56, 71, 83);
}

.hex-progress2 .fill2 {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress2 .value2,
.hex-progress2 .text2 {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress2 .value2 {
  font-size: 150px;
}

.hex-progress2 .text2 {
  font-size: 120px;
}

.noselect2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Hexagon Progressbar3*/
.hex-progress3 {
  width: 175px;
  height: 350px;
}

.hex-progress3 .track3,
.hex-progress3 .fill3 {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.hex-progress3 .track3 {
  stroke: rgb(56, 71, 83);
}

.hex-progress3 .fill3 {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

.hex-progress3 .value3,
.hex-progress3 .text3 {
  /*Font-Family etc.*/
  font-weight: 600;
  fill: var(--colorFont);
  text-anchor: middle;
}

.hex-progress3 .value3 {
  font-size: 150px;
}

.hex-progress3 .text3 {
  font-size: 120px;
}

.noselect3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
