.info {
  color: var(--color-figure-gray-secondary-alt);
}

.info {
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tile-2up .info {
  margin-top: 12px;
}

@media only screen and (max-width: 1068px) {
  .tile-2up .info {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 734px) {
  .tile-2up .info {
    margin-top: 8px;
  }
}

.info-icon {
  /* height: 0.6em;
  width: 0.6em; */
  height: 1em;
  width: 1em;
  margin-right: 0.3em;
}
