<section
  class="scene"
  id="Mario"
  role="img"
  aria-labelledby="marioDesc"
  style="visibility: inherit; opacity: 1"
>
  <div class="static-container">
    <p id="marioDesc" class="ariaLabel">
      Three boxes with a question mark, from the Super Mario Bros game, are
      standing in the center of the screen ... try to find the coin in one of
      them by using the numbers 1, 2, and 3 on your keyboard!
    </p>
  </div>
  <div class="container" style="visibility: inherit; opacity: 1; z-index: 4">
    <div class="blocks">
      <div>
        <div class="mario-box">
          <div class="in"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
        </div>
      </div>
      <div>
        <div class="mario-box -full">
          <div class="in"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
        </div>
      </div>
      <div>
        <div class="mario-box">
          <div class="in"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
          <div class="mario-coin"></div>
        </div>
      </div>
    </div>
    <div class="mario-container"><div class="mario"></div></div>
    <div class="mario-coin-counter" style="display: none">0</div>
    <div style="display: none">
      <div class="mario-msg-overlay"></div>
      <div class="mario-msg">
        Hooray! Thanks for jumping so many times. <br /><span class="-purple"
          >You found all the coins!</span
        ><br />&nbsp;<br />
        Keep scrolling, you're near the end!

        <div class="later">
          ;)
          <button type="button" title="Close message" class="mario-msg-close">
            ✕
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
