/* ------------------------------ svg-timeline ------------------------------ */

.svg-timeline {
  position: absolute;
}

/* ------------------------------ path-timeline ----------------------------- */

.path-timeline {
  transition: stroke-dashoffset 1s ease;
}

@media screen and (min-width: 900px) {
  .path-timeline {
    stroke-width: 8px;
  }
}