.section-separated {
  padding: 0 0 4em 0;
  margin-top: -2em;
}

@media screen and (min-width: 350px) {
  .section-separated {
    margin: 0;
  }
}

@media screen and (min-width: 900px) {
  .section-separated {
    padding: 2em 0 4em 0;
  }
}

@media screen and (min-width: 1250px) {
  .section-separated {
    padding: 4em 0 4em 0;
  }
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.info-container {
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container > svg {
  filter: saturate(0.9);
  transform: scale(0.63);
  margin: 0 -32px;
}

.info-container div {
  padding: 0;
}

.sharesheet-options {
  justify-content: center;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 350px) {
  .info-container > svg {
    transform: scale(0.75);
  }
}

@media screen and (min-width: 900px) {
  .info-container > svg {
    transform: scale(0.85);
  }
}

@media screen and (min-width: 1250px) {
  .info-container > svg {
    transform: scale(1);
  }

  .info-container div {
    padding-top: 50px;
  }

  .info-container {
    display: grid;
    grid-template-columns: 411px 1fr;
    align-items: center;
    text-align: left;
  }

  .info-container div {
    padding: 0;
  }

  .links p {
    justify-content: flex-start !important;
  }
}
