/* -------------------------------- svg-icon -------------------------------- */

.svg-icon {
  fill: var(--colors-svg-icon-fill-light, var(--color-svg-icon));
  transform: scale(1);
  -webkit-transform: scale(1);
  overflow: visible;
}

.svg-icon.icon-inline {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

/* ------------------------------- button-cta ------------------------------- */

.button-cta {
  background: var(--colors-button-light-background, var(--color-button-background));
  border-color: var(--color-button-border, currentcolor);
  border-radius: var(--button-border-radius, 18px);
  border-style: var(--button-border-style, none);
  border-width: var(--button-border-width, medium);
  color: var(--colors-button-text, var(--color-button-text));
  cursor: pointer;
  min-width: 1.7647058824rem;
  padding: 0.2352941176rem 0.8823529412rem;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.button-cta:active {
  background: var(--colors-button-light-backgroundActive, var(--color-button-background-active));
  outline: none;
}

.button-cta:hover:not([disabled]) {
  background: var(--colors-button-light-backgroundHover, var(--color-button-background-hover));
  text-decoration: none;
}

.button-cta:disabled {
  opacity: 0.32;
  cursor: default;
}

.ctas-wrapper {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.ctas-wrapper .button {
  margin-right: 10px;
}

.button-reduced {
  --sk-button-padding-horizontal: 11px !important;
  --sk-button-padding-vertical: 4px !important;
  --sk-button-min-width-basis: 45px !important;
  --sk-button-margin-horizontal: 10px !important;
  --sk-button-margin-vertical: 10px !important;
  font-size: 12px !important;
  line-height: 1.3333733333 !important;
  font-weight: 400 !important;
  letter-spacing: -0.01em !important;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.button {
  --sk-button-color: var(--color-fill);
  --sk-button-color-hover: var(--sk-button-color);
  --sk-button-color-active: var(--sk-button-color-hover);
  --sk-button-disabled-opacity: var(--sk-link-disabled-opacity);
  --sk-button-border-color: transparent;
  --sk-button-border-radius: 980px;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  --sk-button-min-width-basis: 60px;
  --sk-button-padding-horizontal: 16px;
  --sk-button-padding-vertical: 9px;
  --sk-button-border-width: 1px;
  --sk-button-box-sizing: content-box;
  --sk-button-width: auto;
  --sk-button-display: inline-block;
  font-size: 14px;
  line-height: 1.2857742857;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: var(--color-code-plain);
  color: var(--sk-button-color);
  padding-block: calc(var(--sk-button-padding-vertical) - var(--sk-button-border-width));
  padding-inline: calc(var(--sk-button-padding-horizontal) - var(--sk-button-border-width));
  border-radius: var(--sk-button-border-radius);
  border: var(--sk-button-border-width) solid var(--sk-button-border-color);
  width: var(--sk-button-width);
  min-width: calc(var(--sk-button-min-width-basis) - var(--sk-button-padding-horizontal)*2);
  cursor: pointer;
  display: var(--sk-button-display);
  box-sizing: var(--sk-button-box-sizing);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  --sk-button-background: rgb(0, 113, 227);
  --sk-button-background-hover: #0077ED;
  --sk-button-background-active: #006EDB;
}

/* ------------------------------- card-cover ------------------------------- */

.card-cover {
  background-color: var(--color-fill);
  display: block;
  height: var(--card-cover-height, 180px);
}

.card-cover img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  margin: 0;
}

.card-cover img {
  height: 100%;
}

/* ---------------------------------- card ---------------------------------- */

.card {
  overflow: hidden;
  display: block;
  transition:
    box-shadow,
    transform 0.16s ease-out;
  will-change: box-shadow, transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* height: 100%; */
  border-radius: 18px;
}

.card:hover {
  text-decoration: none;
}

.card:hover .link {
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0 5px 10px var(--color-card-shadow);
  transform: scale(1.007);
}

@media only screen and (max-width: 735px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  .card:hover {
    box-shadow: none;
    transform: none;
  }
}

.card.large {
  --card-height: 556px;
  --card-details-height: 163px;
  --card-cover-height: 359px;
}

.card.small {
  --card-height: 408px;
  --card-details-height: 139px;
  --card-cover-height: 235px;
}

@media only screen and (max-width: 1250px) {
  .card.large {
    --card-height: 420px;
    --card-details-height: 137px;
    --card-cover-height: 249px;
  }

  .card.small {
    --card-height: 341px;
    --card-details-height: 144px;
    --card-cover-height: 163px;
  }
}

/* ------------------------------ featured-card ----------------------------- */

.featured-card {
  color: var(--color-fill-gray);
  margin-bottom: 15px;
  position: relative;
  --card-height: 435px;
  --card-cover-height: 100%;
}

.featured-card :hover .link {
  background: var(--color-button-background-hover);
  text-decoration: none;
}

.featured-card .card-cover {
  background-color: var(--color-code);
}

.card-content {
  color: var(--color-card-content-text);
  /* margin-top: 4px; */
}

.featured-card .content,
.featured-card .title {
  color: var(--color-welcome-featured-card-content);
}

/* --------------------------------- details -------------------------------- */

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  z-index: 1;


  background-color: var(--color-fill);
  padding: 17px;
  position: relative;
  font-size: 0.8235294118rem;
  line-height: 1.2857742857;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.large .details {
  font-size: 1rem;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.featured-card .details {
  font-size: 1rem;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
  align-items: flex-start;
  display: flex;
  background: transparent;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 67px;
  top: 0;
  width: 400px;
}

.featured-card .details {
  font-size: 0.8235294118rem;
  line-height: 1.2857742857;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

@media only screen and (max-width: 1250px) {
  .large .details {
    font-size: 0.8235294118rem;
    line-height: 1.2857742857;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

/* --------------------------------- eyebrow -------------------------------- */

.eyebrow {
  color: var(--color-figure-gray-secondary-alt);
  display: block;
  margin: 0 !important;
  /* margin-bottom: 4px; */
  font-size: 0.8235294118rem !important;
  line-height: 1.2857742857;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.large .eyebrow {
  font-size: 1rem;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.024em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.featured-card .eyebrow {
  font-size: 1rem;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.024em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
  color: var(--color-welcome-featured-card-eyebrow-text);
}

@media only screen and (max-width: 1250px) {
  .large .eyebrow {
    font-size: 0.8235294118rem;
    line-height: 1.2857742857;
    font-weight: 600;
    letter-spacing: -0.016em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

@media only screen and (max-width: 735px) {
  .featured-card .eyebrow {
    font-size: 0.8235294118rem;
    line-height: 1.2857742857;
    font-weight: 600;
    letter-spacing: -0.016em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

/* ---------------------------------- title --------------------------------- */

.title {
  color: var(--color-card-content-text);
  font-size: 1rem;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.024em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.title {
  color: var(--color-card-content-text);
  font-size: 1rem;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.024em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.title {
  font-size: 0.8235294118rem;
  line-height: 1.2857742857;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: var(--typography-html-font,
      'SF Pro Text',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.large .title {
  font-size: 1.2352941176rem;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: var(--typography-html-font,
      'SF Pro Display',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

.featured-card .title {
  font-size: 1.2352941176rem;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: var(--typography-html-font,
      'SF Pro Display',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif);
}

@media only screen and (max-width: 735px) {
  .title {
    font-size: 1rem;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.024em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

@media only screen and (max-width: 1250px) {
  .title {
    font-size: 0.8235294118rem;
    line-height: 1.2857742857;
    font-weight: 600;
    letter-spacing: -0.016em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

@media only screen and (max-width: 735px) {
  .title {
    font-size: 1rem;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.024em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

@media only screen and (max-width: 1250px) {
  .large .title {
    font-size: 1rem;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.024em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

@media only screen and (max-width: 735px) {
  .featured-card .title {
    font-size: 1rem;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.024em;
    font-family: var(--typography-html-font,
        'SF Pro Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif);
  }
}

/* ---------------------------------- link ---------------------------------- */

.link {
  color: var(--color-fill-gray) !important;
  /* margin-top: 17px; */
  display: flex;
  align-items: center;
}

.featured-card .link {
  margin-top: 15px;
  position: static;
}

.link .link-icon {
  height: 0.6em;
  width: 0.6em;
  margin-left: 0.3em;
}

@media only screen and (max-width: 1250px) {
  .featured-card {
    --card-height: 307px;
    margin-bottom: 15px;
  }

  .featured-card .details {
    right: 58px;
    width: 288px;
  }
}

@media only screen and (max-width: 735px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .card.large,
  .card.small {
    --card-height: auto;
    --card-details-height: auto;
    min-width: 280px;
    max-width: 300px;
    --card-cover-height: 227px;
  }

  /* .card.large .link,
  .card.small .link {
    bottom: unset;
    margin-top: 7px;
    position: relative;
  } */

  .featured-card {
    --card-height: auto;
    margin-bottom: 20px;
    max-width: 300px;
    min-width: 280px;
    --card-cover-height: 227px;
  }

  .featured-card .card-cover img {
    -o-object-position: -3px center;
    object-position: -3px center;
    width: 688px;
  }

  .featured-card .details {
    background-color: var(--color-welcome-featured-card-details-small);
    display: block;
    height: unset;
    padding: 17px;
    position: relative;
    right: unset;
    top: unset;
    width: unset;
  }

  .featured-card .eyebrow {
    color: var(--color-welcome-featured-card-eyebrow-text-small);
  }

  .featured-card .content,
  .featured-card .title {
    color: var(--color-welcome-featured-card-content-small);
  }

  .featured-card .title {
    font-weight: 600;
  }

  .featured-card .link {
    display: inline-block;
    margin-top: 10px;
  }
}

/* -------------------------------- bar-graph ------------------------------- */

.typography-body-tight {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.group {
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width:1068px) {
  .group {
    padding: 20px 0;
  }
}

@media only screen and (max-width:734px) {
  .group {
    padding: 0;
    font-size: 14px;
    line-height: 1.2857742857;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}

.group [data-value] {
  font-variant-numeric: tabular-nums;
}

.bar-container {
  position: relative;
  height: 10px;
  border-radius: 10px;
  margin-top: 12px;
}

@media only screen and (max-width:734px) {
  .bar-container {
    margin-top: 5px;
  }
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.5s;
  background: var(--color-fill);
  border-radius: 10px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.semibold {
  font-weight: 600;
}