/* ---------------------------------- tile ---------------------------------- */

.tile {
  height: 300px;
  position: relative;
  background-color: var(--color-fill);
  border-radius: 30px;
  transition:
    box-shadow,
    transform 0.16s ease-out;
}

.tile:hover {
  box-shadow: 0 5px 10px var(--color-welcome-card-shadow);
  transform: scale(1.007);
}

@media screen and (min-width: 900px) {
  .tile {
    height: 350px !important;
  }
}

@media screen and (min-width: 1250px) {
  .tile {
    height: 400px !important;
  }
}

/* ------------------------------ tile-content ------------------------------ */

.tile-content {
  height: 100%;
  display: grid;
  grid-template-areas: 'tile-body' 'tile-header';
  grid-template-rows: auto 58px;
  transition: opacity 0.5s ease-in-out;
}

.expanded .tile-content {
  visibility: hidden;
  opacity: 0;
  transition: none;
}

/* ------------------------------- tile-header ------------------------------ */

.tile-header {
  text-align: left;
  grid-area: tile-header;
  padding-left: 45px;
}

/* ------------------------------ tile-headline ----------------------------- */

.tile-headline {
  display: inline-block;
  bottom: 30px;
}

/* ------------------- typography-connection-tile-headline ------------------ */

.typography-connection-tile-headline {
  font-size: 19px;
  line-height: 1.1666666667;
  font-weight: 600;
  /* letter-spacing: 0.009em; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 900px) {
  .typography-connection-tile-headline {
    font-size: 24px !important;
  }
}

/* -------------------------------- tile-body ------------------------------- */

.tile-body {
  grid-area: tile-body;
  display: grid;
}

/* ------------------------------- grid-center ------------------------------ */

.grid-center {
  align-self: center;
  justify-self: center;
}

/* ------------------------------ hex-progress ------------------------------ */

.hex-progress {
  width: 175px;
  height: 225px;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 900px) {
  .hex-progress {
    width: 200px !important;
  }
}

@media screen and (min-width: 1250px) {
  .hex-progress {
    width: 200px !important;
  }
}

/* ------------------------------- card-track ------------------------------- */

.card-fill,
.card-track {
  fill: transparent;
  stroke-width: 60;
  transform: translate(70px, 700px) rotate(-90deg);
}

.card-track {
  stroke: var(--color-fill-tertiary);
}

/* -------------------------------- card-fill ------------------------------- */

.card-fill {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s;
}

/* -------------------------------- card-text ------------------------------- */

.card-text {
  fill: var(--color-fill-gray);
  font-weight: 600;
  font-size: 125px;
  text-anchor: middle;
}

/* --------------------------- tile-overlay-toggle -------------------------- */

.tile-overlay-toggle {
  display: none;
}

.tile-overlay-toggle:checked~.tile-overlay .tile-button {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.tile-overlay-toggle:checked~.tile-overlay .tile-overlay-content {
  opacity: 1;
  visibility: visible;
}

/* --------------------------- tile-button-wrapper -------------------------- */

.tile-button-wrapper {
  width: 37px;
  height: 37px;
  bottom: 26px;
  right: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* ------------------------------- tile-button ------------------------------ */

.tile-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-code-plain);
  color: var(--color-fill);
  transition: transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .tile-button {
    width: 33px !important;
    height: 33px !important;
  }
}

.tile-button:hover {
  background-color: var(--color-tile-button);
  color: var(--color-fill);
}

/* ------------------------------ tile-icon-alt ----------------------------- */

.tile-icon-alt {
  fill: currentColor;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* -------------------------- tile-overlay-content -------------------------- */

.tile-overlay-content {
  box-sizing: border-box;
  text-align: left;
  background-color: var(--color-fill);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px 65px 60px 45px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  border-radius: 30px;
}