.hex-progress {
  width: 175px;
  height: 225px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.card-fill,
.card-track {
  fill: transparent;
  stroke-width: 60;
  -webkit-transform: translate(70px, 700px) rotate(-90deg);
  -moz-transform: translate(70px, 700px) rotate(-90deg);
  -ms-transform: translate(70px, 700px) rotate(-90deg);
  -o-transform: translate(70px, 700px) rotate(-90deg);
  transform: translate(70px, 700px) rotate(-90deg);
}

.card-track {
  stroke: var(--color-fill-tertiary);
}

.card-fill {
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  -webkit-transition: stroke-dashoffset 1s;
  -o-transition: stroke-dashoffset 1s;
  -moz-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

.card-text {
  fill: var(--color-fill-gray);
  font-weight: 600;
  font-size: 125px;
  text-anchor: middle;
}

.tile {
  height: 300px;
  position: relative;
  background-color: var(--color-fill);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.16s ease-out;
  transition: -webkit-box-shadow, -webkit-transform 0.16s ease-out;
  -o-transition: box-shadow, -o-transform 0.16s ease-out;
  -moz-transition: box-shadow, transform 0.16s ease-out, -moz-box-shadow,
    -moz-transform 0.16s ease-out;
  transition: box-shadow, transform 0.16s ease-out;
  transition: box-shadow, transform 0.16s ease-out, -webkit-box-shadow,
    -moz-box-shadow, -webkit-transform 0.16s ease-out,
    -moz-transform 0.16s ease-out, -o-transform 0.16s ease-out;
  transition: box-shadow, transform 0.16s ease-out, -webkit-box-shadow,
    -webkit-transform 0.16s ease-out;
}

.tile:hover {
  -webkit-box-shadow: 0 5px 10px var(--color-welcome-card-shadow);
  -moz-box-shadow: 0 5px 10px var(--color-welcome-card-shadow);
  box-shadow: 0 5px 10px var(--color-welcome-card-shadow);
  -webkit-transform: scale(1.007);
  -moz-transform: scale(1.007);
  -ms-transform: scale(1.007);
  -o-transform: scale(1.007);
  transform: scale(1.007);
}

.tile-content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'tile-body' 'tile-header';
  -ms-grid-rows: auto 58px;
  grid-template-rows: auto 58px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.expanded .tile-content {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
}

.tile-header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  text-align: left;
  grid-area: tile-header;
  padding-left: 45px;
}

.tile-headline {
  display: inline-block;
  bottom: 30px;
}

.tile-body {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tile-body;
  display: -ms-grid;
  display: grid;
}

.grid-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.large-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.tile-overlay-toggle {
  display: none;
}

.tile-button-wrapper {
  width: 37px;
  height: 37px;
  bottom: 26px;
  right: 28px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  position: absolute;
}

.tile-button:hover {
  background-color: var(--color-tile-button);
  color: var(--color-fill);
}

.tile-button {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  background-color: var(--color-code-plain);
  color: var(--color-fill);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.66, 0, 0.2, 1),
    -moz-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.66, 0, 0.2, 1),
    -webkit-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1),
    -moz-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1),
    -o-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.66, 0, 0.2, 1),
    -webkit-transform 0.5s cubic-bezier(0.66, 0, 0.2, 1);
  z-index: 2;
}

.tile-icon-alt {
  fill: currentColor;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tile-button-text {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile-overlay-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-color: var(--color-fill);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 50px 65px 60px 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.tile-overlay-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.tile-overlay-copy {
  margin-top: 0.8em;
}

.tile-overlay-toggle:checked ~ .tile-overlay .tile-button {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out, -moz-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out,
    -moz-transform 0.5s ease-in-out, -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.tile-overlay-toggle:checked ~ .tile-overlay .tile-overlay-content {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 900px) {
  #technologies {
    padding: 150px 0 100px 0;
  }

  #technologies .item-container {
    width: 82.5% !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }

  .tile {
    height: 350px !important;
  }

  .hex-progress {
    width: 200px !important;
  }

  .tile-button {
    width: 33px !important;
    height: 33px !important;
  }
}

@media screen and (min-width: 1250px) {
  #technologies .item-container {
    width: 95% !important;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr)) !important;
  }

  .tile {
    height: 400px !important;
  }

  .hex-progress {
    width: 200px !important;
  }
}
