#copyright {
  width: 90%;
  margin: 100px auto 0 auto;
  border-top: 1px solid #d2d2d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

#copyright p,
#copyright span {
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  #copyright {
    width: 82.5%;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    -webkit-flex-direction: row !important;
    -moz-box-orient: horizontal !important;
    -moz-box-direction: normal !important;
    flex-direction: row !important;
  }

  #copyright p,
  #copyright span {
    font-size: 17px;
  }

  #copyright .sharesheet-options {
    margin: 0;
  }
}
