body {
  min-width: 320px;
}

.icon:before,
.icon:after {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: '';
}

.icon:before,
.icon:after {
  text-decoration: none;
}

.icon:before {
  display: none;
}

.theme-dark {
  --sk-body-background-color: rgb(0, 0, 0);
  --sk-body-text-color: rgb(245, 245, 247);
  --sk-headline-text-color: rgb(245, 245, 247);
  --sk-body-link-color: rgb(41, 151, 255);
}

@keyframes progress-indicator-animating {
  0% {
    opacity: 1;
  }

  12.5% {
    opacity: 0.9;
  }

  25% {
    opacity: 0.7;
  }

  37.5% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.4;
  }

  62.5% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.2;
  }

  87.5% {
    opacity: 0.13;
  }
}

[data-core-fade-transition-wrapper] {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.r-fade-transition-enter-done {
  opacity: 1;
}

[data-core-height-transition-wrapper] {
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  overflow: hidden;
}

[data-core-height-transition-content] {
  overflow: hidden;
}

@keyframes loading-fade {
  0% {
    opacity: 1;
  }

  62.5% {
    opacity: 0.12;
  }

  to {
    opacity: 0.12;
  }
}

[data-core-overlay] {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  position: fixed;
  overflow: auto;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 54px 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

[data-core-overlay][data-core-fade-transition-wrapper] {
  transition-duration: 0.1s;
}

[data-core-overlay-content] {
  margin: auto;
  padding: 30px;
  position: relative;
  background: #fff;
}

[data-core-overlay-cover] {
  background-color: rgba(50, 50, 50, 0.88);
  backface-visibility: visible;
  -webkit-tap-highlight-color: transparent;
}

[data-core-overlay-fullscreen][data-core-overlay] {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

[data-core-overlay-fullscreen] [data-core-overlay-content] {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  min-height: 100vh;
  border: none;
}

[data-core-overlay-open-ios-fixed],
[data-core-overlay-open] {
  overflow: hidden;
  position: relative;
}

[data-core-overlay-open-ios-fixed] {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 2px solid #0071e3;
  outline-offset: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  font-size: 106.25%;
  quotes: '“' '”';
  --sk-link-disabled-opacity: 0.42;
}

body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}

body,
input {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0.8em;
}

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
  margin-top: 0.4em;
}

.nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}

.icon:after,
.icon:before {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: '';
  text-decoration: none;
}

.icon:before {
  display: none;
}

@font-face {
  font-family: AOS Icons;
  font-style: normal;
  font-weight: 400;
  src: url(https://store.storeimages.cdn-apple.com/dist/assets/as-icons/fonts/aosicons_regular.eot);
  src:
    url(https://store.storeimages.cdn-apple.com/dist/assets/as-icons/fonts/aosicons_regular.eot#iefix)
      format('embedded-opentype'),
    url(https://store.storeimages.cdn-apple.com/dist/assets/as-icons/fonts/aosicons_regular.woff)
      format('woff'),
    url(https://store.storeimages.cdn-apple.com/dist/assets/as-icons/fonts/aosicons_regular.ttf)
      format('truetype');
}

body {
  min-width: 320px;
}

.rs-covers {
  text-align: center;
}

.rs-covers-container {
  height: calc(100vh - 44px - 36px);
  min-height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1068px) {
  .rs-covers-container {
    min-height: calc(100vh - 48px - 36px);
    margin: auto;
  }
}

.rs-covers-transtion {
  transition-duration: 0.2s;
}

.rs-covers-media {
  display: block;
  width: 260px;
  height: 316px;
}

.rs-covers-media {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.rs-covers-textovervideo {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1068px) {
  .rs-covers-textovervideo {
    height: unset;
    min-height: calc(100vh - 48px - 36px);
  }
}

.rs-covers-textovervideo .rs-covers-content {
  position: absolute;
}

.rs-covers-heading {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  padding-top: 50px;
}

@media only screen and (max-width: 1068px) {
  .rs-covers-heading {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
  }
}

@media only screen and (max-width: 1068px) {
  .rs-covers-heading {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
  }
}

@media only screen and (max-width: 1068px) and (max-width: 1068px) {
  .rs-covers-heading {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
  }
}

@media only screen and (max-width: 1068px) and (max-width: 1068px) {
  .rs-covers-heading {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Helvetica Neue',
      'Helvetica',
      'Arial',
      sans-serif;
  }
}

.rs-covers-desc {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  font-weight: 500;
  padding: 19px 0 48px;
  margin: 0 auto;
}

@media only screen and (max-width: 1068px) {
  .rs-covers-desc {
    padding-top: 10px;
  }
}
