/* ------------------------- graph-gallery-container ------------------------ */

.graph-gallery-container {
  margin-top: 2em;
  display: flex;
}

@media screen and (min-width: 900px) {
  .graph-gallery-container {
    margin-top: 3em;
  }
}

@media screen and (min-width: 1250px) {
  .graph-gallery-container {
    margin-top: 4em;
  }
}

/* ------------------------------ tabnav-items ------------------------------ */

.tabnav-items {
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: absolute;
}

@media screen and (min-width: 900px) {
  .tabnav-items {
    gap: 100px !important;
  }
}

@media screen and (min-width: 1250px) {
  .tabnav-items {
    gap: 40px !important;
    padding-top: 5px;
    position: inherit;
  }
}

/* ------------------------------- tabnav-item ------------------------------ */

.tabnav-item {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------------------------------- tabnav-link ------------------------------ */

.tabnav-link {
  font-size: 19px;
  line-height: 1.14286;
  /* letter-spacing: 0.007em; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #888;
  margin: 0;
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
}

@media screen and (min-width: 900px) {
  .tabnav-link {
    font-size: 24px !important;
  }
}

@media screen and (min-width: 1250px) {
  .tabnav-link {
    font-size: 28px !important;
  }
}

.tabnav-link.current {
  color: var(--color-fill-gray) !important;
}

/* ----------------------------- slide-container ---------------------------- */

.slide-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 40px 0 0 0;
}

.slide-container .graph-gallery-item {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .slide-container {
    gap: 100px !important;
    padding: 50px 0 0 0 !important;
  }
}

@media screen and (min-width: 1250px) {
  .slide-container {
    margin-left: 30px;
    padding: 5px 0 0 50px !important;
    border-left: 1px solid #d6d6d6;
    gap: 40px !important;
  }
}

/* ---------------------------------- other --------------------------------- */

.grid-item-content,
.grid-item-header {
  position: relative;
  z-index: 1;
}

.grid-item-header {
  font-size: 18px;
  box-sizing: border-box;
  padding-bottom: 0;
  flex-basis: 0;
}
