.icon-after-ribbon svg {
  width: 18px;
  height: 18px;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.article-image {
  margin-top: 0.3em !important;
}

.ribbon {
  margin-top: 48px;
}

.ribbon-content {
  font-size: 13px;
  line-height: 1.4285914286;
  font-weight: 400;
  /* letter-spacing: -0.016em; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ribbon-content p {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ribbon-content-wrapper {
  background-color: var(--ribbon-background-color);
  text-align: center;
  padding-top: 0.9411764706em;
  padding-bottom: 0.9411764706em;
}

.ribbon-content {
  color: var(--ribbon-text-color);
}

.ribbon-link a,
.ribbon-link path {
  color: var(--ribbon-link-color);
  fill: var(--ribbon-link-color);
}

.ribbon-content-wrapper-animation {
  background-color: var(--ribbon-background-color-initial);
  -webkit-animation: animate-background-0071e3-f5f5f7 1s ease-in-out 1.8s
    forwards;
  -moz-animation: animate-background-0071e3-f5f5f7 1s ease-in-out 1.8s forwards;
  -o-animation: animate-background-0071e3-f5f5f7 1s ease-in-out 1.8s forwards;
  animation: animate-background-0071e3-f5f5f7 1s ease-in-out 1.8s forwards;
}

.ribbon-content-animation {
  color: var(--ribbon-text-color-initial);
  -webkit-animation: animate-color-white-1d1d1f 1s ease-in-out 1.8s forwards;
  -moz-animation: animate-color-white-1d1d1f 1s ease-in-out 1.8s forwards;
  -o-animation: animate-color-white-1d1d1f 1s ease-in-out 1.8s forwards;
  animation: animate-color-white-1d1d1f 1s ease-in-out 1.8s forwards;
}

.ribbon-link-animation a,
.ribbon-link-animation path {
  color: var(--ribbon-link-color-initial);
  fill: var(--ribbon-link-color-initial);
  -webkit-animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
  -moz-animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
  -o-animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
  animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
}

.ribbon-drop-wrapper {
  -webkit-animation: ribbon-drop 0.8s ease-in-out forwards;
  -moz-animation: ribbon-drop 0.8s ease-in-out forwards;
  -o-animation: ribbon-drop 0.8s ease-in-out forwards;
  animation: ribbon-drop 0.8s ease-in-out forwards;
}

@-webkit-keyframes animate-background-0071e3-f5f5f7 {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-moz-keyframes animate-background-0071e3-f5f5f7 {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-o-keyframes animate-background-0071e3-f5f5f7 {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@keyframes animate-background-0071e3-f5f5f7 {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-webkit-keyframes animate-color-white-1d1d1f {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-moz-keyframes animate-color-white-1d1d1f {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-o-keyframes animate-color-white-1d1d1f {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@keyframes animate-color-white-1d1d1f {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-webkit-keyframes animate-color-white-0066cc {
  0% {
    color: var(--ribbon-link-color-initial);
    fill: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
    fill: var(--ribbon-link-color);
  }
}

@-moz-keyframes animate-color-white-0066cc {
  0% {
    color: var(--ribbon-link-color-initial);
    fill: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
    fill: var(--ribbon-link-color);
  }
}

@-o-keyframes animate-color-white-0066cc {
  0% {
    color: var(--ribbon-link-color-initial);
    fill: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
    fill: var(--ribbon-link-color);
  }
}

@keyframes animate-color-white-0066cc {
  0% {
    color: var(--ribbon-link-color-initial);
    fill: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
    fill: var(--ribbon-link-color);
  }
}

@-webkit-keyframes ribbon-drop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes ribbon-drop {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes ribbon-drop {
  0% {
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ribbon-drop {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes animate-background-0071e3-1d1d1f {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-moz-keyframes animate-background-0071e3-1d1d1f {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-o-keyframes animate-background-0071e3-1d1d1f {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@keyframes animate-background-0071e3-1d1d1f {
  0% {
    background-color: var(--ribbon-background-color-initial);
  }
  to {
    background-color: var(--ribbon-background-color);
  }
}

@-webkit-keyframes animate-color-white-f5f5f7 {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-moz-keyframes animate-color-white-f5f5f7 {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-o-keyframes animate-color-white-f5f5f7 {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@keyframes animate-color-white-f5f5f7 {
  0% {
    color: var(--ribbon-text-color-initial);
  }
  to {
    color: var(--ribbon-text-color);
  }
}

@-webkit-keyframes animate-color-white-2997ff {
  0% {
    color: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
  }
}

@-moz-keyframes animate-color-white-2997ff {
  0% {
    color: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
  }
}

@-o-keyframes animate-color-white-2997ff {
  0% {
    color: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
  }
}

@keyframes animate-color-white-2997ff {
  0% {
    color: var(--ribbon-link-color-initial);
  }
  to {
    color: var(--ribbon-link-color);
  }
}

@media screen and (min-width: 900px) {
  .ribbon-content {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1250px) {
  .ribbon {
    margin-top: 52px;
  }
}
