.links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.links p:first-of-type {
  margin-top: 0.8em;
}

.links p {
  margin-top: 0.5em;
}

.links p .link {
  width: fit-content;
}

/* ---------------------------------- card ---------------------------------- */

.card.color .link {
  color: var(--color-fill-gray) !important;
}

.card:hover .link {
  text-decoration: underline !important;
}

/* --------------------------------- ribbon --------------------------------- */

.ribbon .links p {
  margin: 0 !important;
}

/* ------------------------------- ribbon-link ------------------------------ */

.ribbon-link a.link,
.ribbon-link a.link path {
  color: var(--ribbon-link-color);
  fill: var(--ribbon-link-color);
}

/* -------------------------- ribbon-link-animation ------------------------- */

@keyframes animate-color-white-0066cc {
  0% {
    color: var(--ribbon-link-color-initial);
    fill: var(--ribbon-link-color-initial);
  }

  to {
    color: var(--ribbon-link-color);
    fill: var(--ribbon-link-color);
  }
}

.ribbon-link-animation a.link,
.ribbon-link-animation a.link path {
  color: var(--ribbon-link-color-initial);
  fill: var(--ribbon-link-color-initial);
  animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
}

/* ---------------------------------- about --------------------------------- */

#about .links p {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1250px) {
  #about .links p {
    justify-content: flex-start !important;
  }
}
