.typography-segmentnav-item {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.segmentnav {
  display: inline-flex;
  box-sizing: border-box;
  position: relative;
  background: var(--color-fill-gray-quaternary);
  height: 2.3em;
  border-radius: 1.15em;
  padding: 0.176em;
}

@media only screen and (max-width: 734px) {
  .segmentnav {
    height: auto;
    min-height: 2.3em;
    border-radius: 100px;
  }
}

.segmentnav input[type='radio'] {
  display: none;
}

.segmentnav-item:has(input[type='radio']:checked) {
  height: 100%;
  border-radius: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: var(--color-fill);
  transition: 300ms;
  pointer-events: none;
  text-decoration: none;
  cursor: default;
  z-index: 10;
}


.segmentnav-item {
  /* padding: 0 21px; */
  padding: 0 22px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segmentnav-item {
  color: var(--color-fill-gray-secondary);
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0 21px;
  text-align: center;
  transition: color 275ms;
  min-width: 107px;
}

@media only screen and (max-width: 734px) {
  .segmentnav-item {
    padding: 3px 21px;
  }
}

.segmentnav-item:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}

.segmentnav-item:not(:first-of-type)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  margin: auto;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-code-plain);
  transition: transform 350ms;
}

.segmentnav-item:has(input[type='radio']:checked) {
  color: var(--color-fill-gray);
  pointer-events: none;
}

.segmentnav-item:has(input[type='radio']:checked)::before,
.segmentnav-item:has(input[type='radio']:checked)+.segmentnav-item::before {
  transform: scale(0);
}

.segmentnav-item,
.segmentnav-selection-background {
  border-radius: 0.974em;
}

@media only screen and (max-width: 734px) {

  .segmentnav-item,
  .segmentnav-selection-background {
    border-radius: 100px;
  }
}

.segmentnav-selection-background {
  position: absolute;
  top: 0.176em;
  left: 0.176em;
  z-index: 1;
  height: 1.948em;
  min-width: 1.948em;
  background: var(--color-fill-gray);
  transition: 300ms;
}

@media only screen and (max-width: 734px) {
  .segmentnav-selection-background {
    height: calc(100% - 0.352em);
  }
}

.segmentnav-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 734px) {
  .segmentnav-container {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    box-sizing: border-box;
  }
}