.typography-segmentnav-item {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.segmentnav {
  display: inline-flex;
  box-sizing: border-box;
  position: relative;
  background: #e2e2e2;
  height: 2.3em;
  border-radius: 1.15em;
  padding: 0.176em;
}

@media only screen and (max-width: 734px) {
  .segmentnav {
    height: auto;
    min-height: 2.3em;
    border-radius: 100px;
  }
}

.segmentnav input[type='radio'] {
  display: none;
}

.segmentnav input[type='radio']:checked~label {
  position: absolute;
  top: 0.176em;
  left: 0.176em;
  z-index: 1;
  height: 1.948em;
  min-width: 1.948em;
  background: #111;
  transition: 300ms;
  pointer-events: none;
  text-decoration: none;
  cursor: default;
  z-index: 10;
}

.segmentnav input[type='radio']~label {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0 21px;
  text-align: center;
  transition: color 275ms;
  min-width: 107px;
}

@media only screen and (max-width: 734px) {
  .segmentnav label {
    padding: 3px 21px;
  }
}

.segmentnav label:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}

.segmentnav label:not(:first-of-type)::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  margin: auto;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-code-plain);
  transition: transform 350ms;
}

.segmentnav label {
  color: var(--color-fill-gray);
  pointer-events: none;
}

.segmentnav label::before,
.segmentnav label+button::before {
  transform: scale(0);
}

.segmentnav label,
.segmentnav-selection-background {
  border-radius: 0.974em;
}

@media only screen and (max-width: 734px) {

  .segmentnav label,
  .segmentnav-selection-background {
    border-radius: 100px;
  }
}

/* .segmentnav-selection-background {
  position: absolute;
  top: 0.176em;
  left: 0.176em;
  z-index: 1;
  height: 1.948em;
  min-width: 1.948em;
  background: #111;
  transition: 300ms;
} */

@media only screen and (max-width: 734px) {
  .segmentnav-selection-background {
    height: calc(100% - 0.352em);
  }
}

.section-continuity .fade-gallery .segmentnav-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99;
}

@media only screen and (max-width: 734px) {
  .section-continuity .fade-gallery .segmentnav-container {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    box-sizing: border-box;
  }
}