/* ---------------------------- timeline-wrapper ---------------------------- */

.timeline-wrapper {
  padding: 100px 0 50px 0;
}

@media screen and (min-width: 900px) {
  .timeline-wrapper {
    padding: 150px 0 100px 0;
  }
}

@media screen and (min-width: 1250px) {
  .timeline-wrapper {
    display: flex;
    justify-content: center;
  }
}

/* -------------------------------- timeline -------------------------------- */

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
  transition: all 250ms ease;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .timeline {
    gap: 64px;
  }
}

@media screen and (min-width: 1250px) {
  .timeline {
    align-items: flex-start !important;
  }
}

/* ------------------------------- timeline li ------------------------------ */

.timeline li {
  width: 90%;
}

@media screen and (min-width: 1250px) {
  .timeline li {
    width: 40%;
  }

  .timeline li:nth-child(even) {
    align-self: flex-end;
  }
}
