/* -------------------------------- fieldset -------------------------------- */

fieldset,
input,
legend {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

/* ----------------------------- visuallyhidden ----------------------------- */

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.visuallyhidden {
  top: 0;
}

/* --------------------------------- button --------------------------------- */

.button {
  display: inline-block;
}

.button {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #0071e3;
  color: var(--color-fill-gray);
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}

.button:hover {
  text-decoration: none;
}

/* .button:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
} */

.button:active {
  outline: none;
}

.button:disabled {
  cursor: default;
}

.button:hover {
  background: #0077ed;
}

.button:active {
  background: #006edb;
}

.button:disabled {
  background: #0071e3;
  color: var(--color-fill-gray);
  opacity: 0.32;
}

/* ---------------------------------- tile ---------------------------------- */

.tile {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--color-fill);
}

/* ------------------------------ tile-rounded ------------------------------ */

.tile-rounded {
  border-radius: 18px;
}

.tile-rounded {
  border-radius: 30px;
}

/* ------------------------------ form-dropdown ----------------------------- */

.form-dropdown {
  position: relative;
  margin-bottom: 0.8235294118rem;
}

.form-dropdown {
  margin-bottom: 0;
  min-width: 150px;
}

@media only screen and (max-width: 1068px) {
  .form-dropdown {
    min-width: 130px;
  }
}

@media only screen and (max-width: 734px) {
  .form-dropdown {
    min-width: 70px;
  }
}

/* -------------------------- form-dropdown-select -------------------------- */

.form-dropdown-select {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  width: 100%;
  height: 3.2941176471rem;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  padding: 1.0588235294rem 2.3529411765rem 0 0.9411764706rem;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-dropdown-select {
  color: var(--color-fill-gray);
  border-color: var(--color-fill-gray-secondary);
  background-color: var(--color-dropdown-background);
}

.form-dropdown-select {
  height: auto;
  padding-block: 12px;
}

/* .form-dropdown-select:focus {
  border-color: #0071e3;
}

.form-dropdown-select:focus:not(button) {
  outline: none;
} */

/* .form-dropdown-select:focus:not(button) {
  border-width: 2px;
  padding-left: 0.8823529412rem;
} */

.form-dropdown-select:disabled+.form-dropdown-chevron {
  opacity: 0.42;
}

.form-dropdown-select option:not(:disabled) {
  color: var(--color-fill-gray);
}

@media only screen and (max-width: 1068px) {
  .form-dropdown-select {
    padding-block: 7.5px;
  }
}

@media only screen and (max-width: 734px) {
  .form-dropdown-select {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    border-radius: 22px;
    padding: 4px 11px;
  }
}

/* ------------------------------ form-dropdown ----------------------------- */

.form-dropdown:disabled {
  color: #6e6e73;
  opacity: 1;
  border-color: rgba(134, 134, 139, 0.42);
  background-color: var(--color-dropdown-background-disabled);
}

/* -------------------------- form-dropdown-chevron ------------------------- */

.form-dropdown-chevron {
  color: #6e6e73;
}

.form-dropdown-chevron {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.006em;
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  position: absolute;
  pointer-events: none;
  right: 0.9411764706rem;
  top: 0.7058823529rem;
}

.form-dropdown-chevron {
  top: 0;
  bottom: 0;
  height: 1.6em;
  margin: auto;
}

.form-dropdown-chevron:before {
  display: none;
}

@media only screen and (max-width: 734px) {
  .form-dropdown-chevron {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    right: 0.9em;
    height: 1.5em;
  }
}

/* ------------------------------- sticky-nav ------------------------------- */

.sticky-nav {
  transition: border-radius 0.2s;
  z-index: 1;
  position: sticky;
  --top: var(--r-localnav-height);
  top: var(--top);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: var(--padding-inline);
  padding-inline-end: var(--padding-inline);
  padding-block-start: var(--padding-block);
  padding-block-end: var(--padding-block);
  margin-inline-start: 0;
  margin-inline-end: 0;
  box-shadow: 0 2px 4px var(--color-nav-background);
  grid-gap: var(--gap);
  gap: var(--gap);
  --padding-inline: 22px;
  --padding-block: 9px;
  --gap: 22px;
}

@media only screen and (max-width: 734px) {
  .sticky-nav {
    --padding-inline: 16px;
    --padding-block: 10px;
    --gap: 10px;
  }
}

.sticky-nav.sticking {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sticky-nav:where(fieldset) {
  min-inline-size: 0;
}

/* ------------------------- role-selects-container ------------------------- */

.role-selects-container {
  width: 100%;
  flex-shrink: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(var(--columns, 2), auto);
  grid-gap: var(--gap);
  gap: var(--gap);
}

.role-selects-container:before {
  height: 56px;
  display: block;
  content: '';
  width: 1px;
  background-color: var(--color-fill-gray-tertiary);
}

@media only screen and (max-width: 1068px) {
  .role-selects-container:before {
    height: 47.5px;
  }
}

@media only screen and (max-width: 734px) {
  .role-selects-container:before {
    height: 36px;
  }
}

/* ------------------------------ role-selects ------------------------------ */

.role-selects {
  grid-gap: 10px;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  --padding: 10px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-inline-end: var(--padding);
  margin-inline-end: calc(var(--padding) * -1);
  scrollbar-width: none;
  overflow-x: scroll;
}

@media only screen and (max-width: 734px) {
  .role-selects {
    grid-gap: 4px;
    gap: 4px;
  }
}

.role-selects::-webkit-scrollbar {
  inline-size: 0px;
  block-size: 0px;
}

/* ------------------------------- role-select ------------------------------ */

/* .role-select {
  position: relative;
  flex-shrink: 0;
  display: inline-grid;
} */

/* .role-select > * {
  grid-area: 1/1;
} */

.role-select>input[type='radio'] {
  display: none;
}

.role-select>input[type='radio']:checked~label.button {
  cursor: default;
  background: var(--color-fill-gray);
  color: var(--color-fill-tertiary);
  border-color: var(--color-fill-gray);
}

.role-select>.button {
  z-index: -1;
  background: transparent;
  color: var(--color-fill-gray);
  border: 1px solid var(--color-fill-gray-secondary);
  transition:
    background 0.2s,
    color 0.2s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.role-select>.button:hover {
  text-decoration: none;
}

/* .role-select > .button:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
} */

.role-select>.button:active {
  outline: none;
}

.role-select>.button:disabled {
  cursor: default;
}

@media only screen and (min-width: 1069px) {
  .role-select>.button {
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    min-width: 26px;
    padding: 12px 22px;
    --sk-button-margin-horizontal: 18px;
    --sk-button-margin-vertical: 18px;
  }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .role-select>.button {
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
  }
}

@media only screen and (max-width: 734px) {
  .role-select>.button {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    min-width: 23px;
    padding: 4px 11px;
    --sk-button-margin-horizontal: 10px;
    --sk-button-margin-vertical: 10px;
  }
}